@mixin flex($flex-flow, $justify-content, $align-items) {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: $flex-flow;
	justify-content: $justify-content;
	align-items: $align-items;
}