.articles {
    .articles__title {
        border-bottom: 1px solid $second-color;
        color: $shade-black;
        margin: 2.5rem 0;
        padding-bottom: .5rem;
    }

    .articles__item {
        display: flex;
        flex-direction: column;
        img {
            width: 100%;
        }
        a {
            color: $shade-black;
            font-size: $font__a-articles;
            padding: .5rem 0;
        }

        span {
            font-size: $font__span-articles;
            color: $base-color;

            &:last-child {
                color: $second-color;
            }
        }
    }

    .show-more {
        text-align: center;
        padding: 1rem 0;
        margin-top: 1rem;
        margin-bottom: 3rem;
        a {
            font-size: $font__a_show-more-btn-articles;
            color: $base-color;
            position: relative;

            &::before {
                content: "";
                display: inline-block;
                position: absolute;
                width: 13px;
                height: 1px;
                right: -20px;
                top: 57%;
                transform: rotate(90deg);
                background: $base-color;
            }

            &::after {
                content: "";
                display: inline-block;
                position: absolute;
                width: 13px;
                height: 1px;
                right: -20px;
                top: 57%;
                background: $base-color;
            }

        }
    }
}