.basket {
    .basket-wrapper {
        margin: 1rem 0;
    }

    .basket__title {
        border-bottom: 1px solid $second-color;
        color: $shade-black;
        margin: 2.5rem 0;
        padding-bottom: .5rem;
        text-transform: uppercase;
    }

    .product-basket {
        display: flex;

        .product-basket__column {
            p {
                text-align: left;
                max-width: 160px;
            }


        }
    }

    .product-basket__column {
        display: flex;
        flex-direction: column;
        padding: 0 .5rem;
        text-transform: uppercase;
        color: $basket__notification-row__p;
        font-size: $font__basket__p;

        height: 88px;
        align-items: center;

        svg {
            width: 50%;
            max-height: 88px;
            margin: auto;
            cursor: pointer;
        }

        p {
            width: 100%;
            text-align: center;
        }

        .number-input {
            input {
                border: none;
                background: transparent;
                width: 45px;
                text-align: center;
                align-items: center;

            }

            span {
                cursor: pointer;
            }
        }

    }

    .color-preference {
        text-align: left;

        span {
            min-width: 19px;
            min-height: 19px;
            border: 1px solid transparent;
            background: #fff;
            display: inline-block;
            border-radius: 50%;
            position: relative;
            margin: 0px 2px;
            transition: all .3s;
            cursor: pointer;
            border: 1px solid #adc2a3;

            a {
                background: #adc2a3;
                display: inline-block;
                width: 13px;
                height: 13px;
                position: absolute;
                border-radius: 50%;
                transform: translate(-53%, -54%);
                top: 50%;
                left: 50%;
            }
        }

    }

    #clearBasketEvent {
        color: $base-color;
        text-transform: uppercase;
        font-size: $font__clearBasketEvent;
        cursor: pointer;
    }

    .basket__submit-title {
        color: $shade-black;
        margin: 2.5rem 0;
        padding-bottom: .5rem;
        text-transform: uppercase;
    }

    .submit-order {
        margin-bottom: 2rem;
        .submit-order__field {
            display: flex;
            justify-content: space-between;

            p {
                font-size: $font__submit-order__p;
                color: $basket__submit-order__p;
            }

            input {
                background: transparent;
                border: none;
                box-shadow: none;
                border-bottom: 1px solid $basket__submit-order__input;
                color: $basket__submit-order__p;

                &:focus {
                    outline: none;
                }
            }

            select {
                background: transparent;
                border: none;
                width: 172px;
                color: $basket__submit-order__p;
                border-bottom: 1px solid $basket__submit-order__input ;
                &:focus {
                    outline: none;
                }
            }

            textarea {
                background: transparent;
                border: none;
                border-bottom: 1px solid $basket__submit-order__input;
                resize: none;
                color: $basket__submit-order__p;

                &:focus {
                    outline: none;
                }
            }
        }
    }
}

@media (min-width: 601px) and (max-width: 980px) {
    .basket {
        .color-preference {
            span {
                a {
                    transform: translate(-6px, -54%);
                }
            }
        }

        .submit-order {
            .submit-order__field {
                textarea {
                    width: 65%;
                }
            }
        }
    }
}


@media (max-width: 600px) {
    .color-preference {
        span {
            a {
                transform: translate(-6px, -54%) !important;
            }
        }
    }

    .basket {
        .submit-order {
            .submit-order__field__textarea {
                width: 100%;
                margin-top: 3rem;
                padding-bottom: 3rem;
                flex-direction: column;
            }
        }
    }
}