.cabinet {
       
    .cabinet__title {
        border-bottom: 1px solid $second-color;
        color: $shade-black;
        margin: 2.5rem 0;
    }
    h2 {
          font-size: 14px;
          color: rgb(102, 102, 102);
          line-height: 1.714;

    }
    .select2-container {
        margin-bottom: 10px;
    }
    .select2-container--default .select2-selection--single .select2-selection__clear {
        display: none;
    }
    .select2-container--default .select2-selection--single {
          
          border: 1px solid rgb(220, 220, 220) !important;
    }
    .select2-container--default .select2-selection--single {
        width: 100%;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        text-align: center;
    }

    .select2-selection {
      background: $base-color;
      border: none !important;
      border-radius: 0;
      width: 100px;
              height: 28px;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              background: none;
              background-image: url(../images/Arrow-down.svg);
              background-repeat: no-repeat;
              background-position-x: 95%;
              background-position-y: 6px;
              border: none;
              font-size: $font__catalog__body__filter;
              position: relative;
              transition: all .3s;
              color: $catalog__body__filter-color;
              user-select: none;
              /* supported by Chrome and Opera */
              -webkit-user-select: none;
              /* Safari */
              -khtml-user-select: none;
              /* Konqueror HTML */
              -moz-user-select: none;
              /* Firefox */
              -ms-user-select: none;
              /* Internet Explorer/Edge */
              cursor: pointer;

              &:focus {
                outline: none;
                background-image: url(../images/Arrow-down.svg);
                
              }
    }
    
    .tab-pane {
        input {
            border-width: 1px;
            border-color: rgb(220, 220, 220);
            border-style: solid;
            width: 100%;
        }
        p {
              font-size: 13px;
              color: rgb(152, 152, 152);
              line-height: 1.846;
              text-align: left;

        }
        .tab-content-left {
        .date-of-birth {
            .select2-container {
              width: 30% !important;
            }
            .select2-container--default .select2-selection--single .select2-selection__rendered {
              text-align: center !important;
            }
          }
          .select2-container--default .select2-selection--single .select2-selection__rendered {
            text-align: left;
            margin-left: 4%;
          }
        }
        .flexis {

              @include flex(row, space-between, center);
        }  

    }
    .cabinet__navs-list {
        a {
            color: $shade-black;
            font-weight: 700px;
            text-transform: uppercase;
            font-size: $font__cabinet__nav;
            padding-left: 0;

            &:hover {
                color: $base-color;
            }
        }

        .active {
            color: $base-color;
        }
    }

    .address-item {
        transition: all .8s;
        input {
            width: 100%;
        }
    }

    .add-address {
        width: 100%;
        display: flex;
        justify-content: center;
        transition: all .3s;

        .add-address-btn {
            display: inline-block;
            color: $base-color;
            text-transform: uppercase;
            font-size: $font__cabinet__nav;
            margin: auto;
            position: relative;
            padding-left: 2rem;
            cursor: pointer;

            &::after {
                content: "";
                display: inline-block;
                height: 7px;
                width: 1px;
                background: $base-color;
                position: absolute;
                left: 15%;
                top: 8px;
            }

            &::before {
                content: "";
                display: inline-block;
                height: 7px;
                width: 1px;
                background: $base-color;
                position: absolute;
                left: 15%;
                top: 8px;
                transform: rotate(90deg);
            }
        }
    }
    .save-address {
      input {
          background-color: rgb(217, 174, 157);
            font-size: 14px;
            color: rgb(255, 255, 255);
            line-height: 1.714;
            border: 1px solid rgb(217,174,157);
            padding-top: 10px;
            padding-bottom: 10px;
            transition: all .3s;
            &:hover {
              background-color: rgb(255,255,255);
              color: rgb(217,174,157);
            }
      }
    }
    #address-item-second {
        height: 264px;
        transition: all .3s;
    }

}