.catalog {
    .advance{
        height: 100% !important;
    }
    .rotate{
        transform: rotate(45deg)
    }
    .catalog__title--wrap {
        display: flex;
        border-bottom: 1px solid $title-border;
        justify-content: space-between;
        margin-bottom: .8rem;
        margin-top: 2.2rem;

        .catalog__title {
            font-size: $font__h3;
            color: $shade-black;
            text-transform: uppercase;
        }

        .catalog__quantity {
            p {
                color: $catalog__body__filter-color;
                font-size: $font__catalog__body__filter;
                display: inline-block;
            }

            span {
                font-size: $font__catalog__body__filter;
                padding: 0 .5rem;
                color: $catalog__body__filter-color;
                cursor: pointer;
                transition: all .3s;

                &:hover {
                    color: $base-color;
                }
            }

            .span-active {
                color: $base-color;
            }
        }
    }

    .catalog__body-container_collapse {
        min-height: 380px;
        position: sticky;
        top: 0;

        .catalog__card {
            .catalog__card-header {
                .catalog__btn-link {

                    padding-left: 0rem;
                    font-weight: 700;
                    font-size: $font__catalog-menu__btn;
                    position: relative;
                    transition: all 1s;

                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }

                    &::after {
                        content: "";
                        width: 8px;
                        height: 5px;
                        display: inline-block;
                        color: $second-color;
                        position: absolute;
                        right: 0;
                        top: 14px;
                        background: url(../images/Arrow-down.svg);
                        background-size: cover;
                        transform: rotate(0deg)
                    }

                }

                .catalog__btn-link--transform {
                    &::after {
                        transform: rotate(180deg)
                    }
                }
            }

            .catalog__card-body {
                ul {
                    padding-left: 0rem;

                    li {
                        font-size: $font__catalog-menu__li;
                        color: $second-color;
                        list-style: none;
                        cursor: pointer;
                        padding: .4rem 0;
                        transition: all .3s;

                        &:hover {
                            color: $base-color;
                        }
                    }
                }
            }
        }
    }

    .catalog__body-container--flex {
        .catalog__body-container__filter {
            min-height: 70px;
            margin-bottom: 2rem;

            .catalog__body-container__filter__row {
                &:first-child {
                    margin-right: 25%;
                    margin-bottom: 1rem;
                }
                display: flex;
                justify-content: space-around;

                &:last-child{
                    height: 0%;
                    overflow: hidden;
                }
            }
        }

        .catalog__body-container__display {
            .catalog__body-container__display__item {
                .catalog__body-container__display__item__frame {
                    margin-top: 2rem;
                    min-height: 260px;
                    position: relative;

                    .catalog__body-container__display__item__frame__1 {
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        position: absolute;
                        background: url(../images/catalog__item-1.png);
                        background-size: cover;
                        transition: all .3s;
                    }

                    .catalog__body-container__display__item__frame__2 {
                        width: 100%;
                        height: 100%;
                        z-index: 2;
                        position: absolute;
                        background: url(../images/catalog__item-2.png);
                        background-size: cover;
                        transition: all .3s;
                    }

                    svg {
                        position: absolute;
                        right: 4%;
                        bottom: 3%;
                        z-index: 9;
                        transition: all .3s;
                        cursor: pointer;

                        path {
                            fill: rgba(255, 255, 255, .6);
                            stroke: #ffffff;
                        }

                        &:hover {
                            transform: scale(1.5);
                        }

                    }

                    .inFavorites {
                        transform: scale(1.5);
                    }

                    a{
                        width: 100%;
                        height: 90%;
                        position: absolute;
                        display: inline-block;
                        z-index: 100;
                    }
                }

                .catalog__body-container__display__item__color {
                    display: flex;
                    justify-content: center;

                    .catalog__body-container__display__item__color--wrapper {
                        height: 34px;

                        span {
                            min-width: 12px;
                            min-height: 12px;
                            border: 1px solid transparent;
                            background: #fff;
                            display: inline-block;
                            border-radius: 50%;
                            position: relative;
                            margin: 0px 2px;
                            transition: all .3s;
                            cursor: pointer;


                            a {
                                background: $catalog__body__item__color-btn;
                                display: inline-block;
                                width: 8px;
                                height: 8px;
                                position: absolute;
                                border-radius: 50%;
                                transform: translate(-50%, -50%);
                                top: 50%;
                                left: 50%;
                            }

                            &:hover {
                                a {
                                    border: 1px solid #ffffff;
                                    width: 9px;
                                    height: 9px;
                                }

                                border: 1px solid #adc2a3;
                            }
                        }
                    }
                }

                .catalog__body-container__display__item__status {
                    .catalog__body-container__display__item__status__label--NEW {
                        text-transform: uppercase;
                        padding: 4px 15px;
                        display: inline-block;
                        background: $catalog__body__item__label-new-bg;
                        color: $catalog__body__item__label-new-color;
                        cursor: default;
                        font-size: $font__catalog__body__item;
                    }

                    .catalog__body-container__display__item__status__label--SALE {
                        text-transform: uppercase;
                        padding: 4px 15px;
                        display: inline-block;
                        background: $catalog__body__item__label-sale-bg;
                        color: $catalog__body__item__label-sale-color;
                        cursor: default;
                        font-size: $font__catalog__body__item;
                    }
                }

                .catalog__body-container__display__item__title {
                    h3 {
                        color: $catalog__body__item-h3;
                        font-size: $font__catalog__body__item;
                        text-transform: uppercase;
                        padding: 17px 0;
                    }
                }

                .catalog__body-container__display__item__price {
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: $font__catalog__body__item;
                    display: flex;
                    justify-content: start;
                    max-height: 16px;
                    position: relative;

                    span:last-child {
                        font-size: $font__catalog__body__item__old-price;
                        margin-left: 2rem;
                        position: relative;
                        padding-top: 3px;

                        &::before {
                            content: "";
                            display: inline-block;
                            width: 100%;
                            height: 1px;
                            background: $catalog__body__item__old-price-after;
                            opacity: .6;
                            position: absolute;
                            top: 70%;

                        }
                    }
                }
            }
        }
    }
}