.comments{
    .comments__title{
        border-bottom: 1px solid $second-color;
        color: $shade-black;
        margin: 2.5rem 0;
        padding-bottom: .5rem;
    }
    .comment__item{
        border-bottom: 1px solid $second-color-lighter;
        padding-bottom: 1rem;
        padding-top: 2rem;
        .comment__item__rate{
            svg {
                cursor: pointer;
                fill: $star-rate__unchecked;
                &:hover {
                    fill: $star-rate__checked;
                }
            }  
        }
        .comment__item__title {
            color: $second-color;
            font-size: $font__h3;
            margin-bottom: 1rem;
            text-transform: uppercase;
        }
        .comment__item__text{
            color: $second-color;
            font-size: $font__p-delivery;
        }
        .comment__item__name-date--wrapper{
            display: flex;
            p {
                font-weight: 600;
                color: $shade-black; 
                font-size: $font__p-name-date-comments;
                span {
                    color: $second-color-exeception; 
                }
                &:first-child {
                    margin-right: 1rem;
                }
            }
            
        }
    }
    .show-more {
        text-align: center;
        padding: 1rem 0;
        margin-top: 1rem;
        margin-bottom: 3rem;
        a {
            font-size: $font__a_show-more-btn-articles;
            color: $base-color;
            position: relative;

            &::before {
                content: "";
                display: inline-block;
                position: absolute;
                width: 13px;
                height: 1px;
                right: -20px;
                top: 57%;
                transform: rotate(90deg);
                background: $base-color;
            }

            &::after {
                content: "";
                display: inline-block;
                position: absolute;
                width: 13px;
                height: 1px;
                right: -20px;
                top: 57%;
                background: $base-color;
            }

        }
    }
}