.questions {
    .questions__title--wrap {
        display: flex;
        border-bottom: 1px solid $title-border;
        justify-content: space-between;
        margin-bottom: .8rem;
        margin-top: 2.2rem;
        .questions__title {
            font-size: $font__h3;
            color: $shade-black
        }

        .questions__ask {
            color: $shade-black;
            font-size: $font__p-title;
            margin-bottom: 0rem;
            padding-top: .5rem;
            font-weight: 600;
            position: relative;
            cursor: pointer;

            &::before {
                content: "";
                display: inline-block;
                position: absolute;
                left: -1.2rem;
                top: 10px;
                width: 15px;
                height: 15px;
                background-image: url(../images/information.png);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    .accordion--wrapper {
        .accordion {
            .card {
                
                border: none;

                .card-header {
                    background-color: transparent;
                    border-bottom: 1px solid $second-color-lighter;
                    margin-bottom: 0;
                    display: flex;
                    position: relative;
                    .btn {
                        color: $second-color;
                        transition: all .3s;
                        text-decoration: none;
                        text-transform: uppercase;
                        padding: 0 2.2rem;
                    }
                    span {
                        font-size: $font__span;
                        padding-top: 5px;
                        transition: all .3s;
                    }

                    &:hover {
                        .btn {
                            text-decoration: none;
                            color: $shade-black;
                        }
                        span {
                            color: $base-color;
                        }
                        &::after{



                        }
                        &::before{

                        }
                    }

                    &::after{
                        content: "";
                        display: inline-block;
                        position: absolute;
                        right: 1rem;
                        top: 34px - 14px;
                        width: 2px;
                        height: 28px;
                        background-color: $base-color;
                        transition: all .3s;
                    }
                    &::before{
                        content: "";
                        display: inline-block;
                        position: absolute;
                        right: 1rem;
                        top: 34px - 14px;
                        width: 2px;
                        height: 28px;
                        background-color: $base-color;
                        transform: rotate(90deg);      
                    }
                }
                .card-body{
                    border-top: none;
                    color:  $second-color;
                }

                .collapse-sign{
                    &::after{
                        transform: rotate(90deg);
                    }
                }

                .highlightNumber{
                    span{
                        color: $base-color;
                    }
                }
            }
        }
    }
}