.shops {
    .shops__title {
        border-bottom: 1px solid $second-color;
        color: $shade-black;
        margin: 2.5rem 0;
        padding-bottom: .5rem;
    }

    .shops__map-container {
        width: 100%;
        height: 100%;
        display: flex;
        background-image: url(../images/contacts-map.png);
        min-height: 470px;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 100%;
        background-size: cover;
    }

    .shops__column--wrapper {
        max-height: 470px;
        overflow-y: scroll;
        .shops__column--wrapper__item__title {
            padding-left: 2.5rem;
            input {
                border: 1px solid $item-input__shop;
                width: 320px;
                height: 40px;
                padding: .3rem 0;
                padding-left: 3rem;
                background: url(../images/search-input.png);
                background-repeat: no-repeat;
                background-position-y: center;
                background-position-x: 5%;

                &:focus {
                    outline: none;
                }
                &:placeholder {
                   color:  $second-color-exeception;
                }
                margin-bottom: 1rem;
            }
            h2{
                font-size: $item-h2-shop;
                right: 13%;
            }
        }

        .shops__column--wrapper__item {
            padding: .5rem 0;
            padding-left: 2.5rem;
            ul {
                list-style: none;
                font-size: $font__li-delivery;
                padding-left: 1%;
                margin-bottom: 0rem;

                li {
                    position: relative;
                    color: $shade-black;
                    font-weight: 700;
                    text-transform: uppercase;

                    &:after {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        left: -10px;
                        top: 5.5px;
                        width: 4px;
                        height: 4px;
                        border-radius: 50%;
                        background: $base-color;

                    }
                }
            }

            p {
                font-size: $font__p-shops;
                margin-top: .5rem;
            }
            &:nth-child(2n) {
                background: $item-bg__shop;
            }

            .shops__column--wrapper__item-flex {
                position: relative;

                span {
                    color: $shade-black;
                    font-weight: 700;
                    font-size: $font__span-shops;
                    position: relative;

                    &:first-child {
                        padding-right: 1rem;

                        &::after {
                            content: "/";
                            display: inline-block;
                            color: $base-color;
                            margin-right: -.5rem;
                            position: absolute;
                            top: -2px;
                            right: 12%;
                        }

                    }
                }
            }
        }
    }

    .shops__btn-feddback {
        display: inline-block;
        background: $base-color;
        color: #fff;
        padding: .8rem 3rem .8rem 1rem;
        font-size: $font__a-btn-contacts;
        background-image: url(../images/right-arrow__btn.png);
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: center;
        margin-top: 2rem;
        margin-left: -3rem;
        transition: all .3s;
        border: 1px solid $base-color;

        &:hover {
            background: #fff;
            color: $base-color;
            border: 1px solid $base-color;
            background-position-x: 90%;
            background-position-y: center;
        }
    }

    .shops__btn-feddback--modal {
        margin-left: 0rem;
        margin: auto;
        background-image: none;
        align-items: center;
        padding: .8rem .8rem;
        display: flex;

        &:active {
            outline: none;
        }
    }

    .modal-footer {
        border-top: none;
    }

    .modal-body {
        input {
            width: 100%;
            border: none;
            border-bottom: 1px solid $second-color;
            margin-bottom: 1rem;
            padding-left: 1rem;

            &::placeholder {
                text-align: center;
            }

            &:focus {
                outline: none;
            }
        }

        textarea {
            width: 100%;
            border: 1px solid $second-color;

            &:focus {
                outline: none;
            }
        }
    }
}