@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/Proxima-Nova-Light.otf"); }

* {
  font-family: "ProximaNova"; }

.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box; }
  .glide * {
    box-sizing: inherit; }
  .glide__track {
    overflow: hidden; }
  .glide__slides {
    position: relative;
    width: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform; }
    .glide__slides--dragging {
      user-select: none; }
  .glide__slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    white-space: normal;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent; }
    .glide__slide a {
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      -ms-user-select: none; }
  .glide__arrows {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide__bullets {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide--rtl {
    direction: rtl; }

.index .slider-top .glide__arrow {
  width: 26px;
  height: 20px;
  background: url(../images/Arrow-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  box-shadow: none;
  position: absolute;
  top: 50%; }
  .index .slider-top .glide__arrow:focus {
    outline: none;
    outline: none; }

.index .slider-top .glide__arrow--left {
  transform: rotate(90deg);
  left: -2rem; }

.index .slider-top .glide__arrow--right {
  transform: rotate(-90deg);
  right: -2rem; }

.component-slider {
  margin-bottom: 4rem; }
  .component-slider .glide_sub img {
    width: 100%; }
  .component-slider .slider__h2 {
    font-size: 24px;
    width: 50%;
    border-bottom: 1px solid #2c2728;
    margin: 3rem 0 2.7rem auto;
    padding-bottom: 13px; }

@media (max-width: 600px) {
  .component-slider .slider__h2 {
    width: 100%; } }

.sf-menu .nav-root {
  text-transform: uppercase;
  color: #878787; }
  .sf-menu .nav-root::after {
    content: "";
    display: inline-block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 26px !important;
    right: -9px !important;
    width: 16px !important;
    height: 16px !important;
    background: url(../images/Arrow-down.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0 !important; }

.sf-menu li {
  background: transparent !important; }
  .sf-menu li a {
    color: #ffffff; }
  .sf-menu li .sf-with-ul {
    padding-right: 1rem !important; }

.sf-menu .nav--bg-pink {
  background: #d9ae9d !important;
  box-shadow: none; }
  .sf-menu .nav--bg-pink a {
    border-left: none;
    border-top: none;
    border-top: none;
    background: #d9ae9d !important; }

.bread-crumbs .bread-crumbs--wrapper {
  display: flex;
  justify-content: flex-start; }
  .bread-crumbs .bread-crumbs--wrapper .bread-crumbs__crumb {
    display: inline-block;
    position: relative;
    padding: 0 8px;
    transition: all .3s;
    font-size: 10px;
    cursor: pointer; }
    .bread-crumbs .bread-crumbs--wrapper .bread-crumbs__crumb:first-child {
      padding-left: 0; }
    .bread-crumbs .bread-crumbs--wrapper .bread-crumbs__crumb::after {
      content: "";
      display: inline-block;
      position: absolute;
      width: 1px;
      height: 10px;
      background: #878787;
      right: 0;
      top: 1.5px; }
    .bread-crumbs .bread-crumbs--wrapper .bread-crumbs__crumb:hover {
      color: #d9ae9d !important; }

.catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row {
  transition: all .3s; }
  .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .dropdown-menu-price {
    background: #d9ae9d;
    color: #ffffff;
    padding-left: 1rem;
    border-radius: unset; }
    .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .dropdown-menu-price input {
      width: 70%;
      background: transparent;
      border: none;
      border-bottom: 1px solid #ffffff;
      color: #ffffff;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font-size: 12px;
      background: url(../images/KZT.png);
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: 95%; }
      .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .dropdown-menu-price input:focus {
        outline: none; }
    .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .dropdown-menu-price p {
      text-align: center;
      font-size: 12px;
      margin-bottom: .5rem;
      margin-top: .5rem;
      width: 100%; }
  .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .dropdown-menu-color {
    max-width: 100px;
    background: #fff;
    color: #ffffff;
    border-radius: unset;
    border: 1px solid rgba(0, 0, 0, 0.09); }
    .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .dropdown-menu-color input {
      width: 70%;
      background: transparent;
      border: none;
      border-bottom: 1px solid #ffffff;
      color: #ffffff;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font-size: 12px;
      background: url(../images/KZT.png);
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: 95%; }
      .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .dropdown-menu-color input:focus {
        outline: none; }
    .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .dropdown-menu-color p {
      text-align: center;
      font-size: 12px;
      margin-bottom: .5rem;
      margin-top: .5rem;
      width: 100%; }
  .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .color-preference {
    text-align: center; }
    .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .color-preference span {
      min-width: 19px;
      min-height: 19px;
      border: 1px solid transparent;
      background: #fff;
      display: inline-block;
      border-radius: 50%;
      position: relative;
      margin: 0px 2px;
      transition: all .3s;
      cursor: pointer; }
      .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .color-preference span:hover {
        border: 1px solid #adc2a3; }
      .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .color-preference span a {
        background: #adc2a3;
        display: inline-block;
        width: 13px;
        height: 13px;
        position: absolute;
        border-radius: 50%;
        transform: translate(-45%, -47%);
        top: 50%;
        left: 50%; }
  .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .first-column a {
    transform: translate(-55%, -47%) !important; }
  .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .catalog__body-container__filter__row__select {
    width: 100px;
    height: 28px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    background-image: url(../images/Arrow-down.svg);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 9px;
    border: none;
    font-size: 13px;
    position: relative;
    transition: all .3s;
    color: #696969;
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    cursor: pointer; }
    .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .catalog__body-container__filter__row__select:focus {
      outline: none;
      background-image: url(../images/cross-select.svg);
      color: #d9ae9d;
      box-shadow: none; }
    .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .catalog__body-container__filter__row__select:hover {
      color: #d9ae9d; }
      .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .catalog__body-container__filter__row__select:hover::after {
        background: #d9ae9d; }
      .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .catalog__body-container__filter__row__select:hover::before {
        background: #d9ae9d; }
    .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .catalog__body-container__filter__row__select option {
      background: #d9ae9d;
      color: #ffffff;
      border: none; }
      .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .catalog__body-container__filter__row__select option:focus {
        outline: none;
        background-position-y: 13px; }
      .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .catalog__body-container__filter__row__select option:hover {
        background: #d9ae9d; }
    .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .catalog__body-container__filter__row__select:hover {
      background-position-y: 13px; }
    .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .catalog__body-container__filter__row__select:focus {
      background-position-y: 13px; }
  .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .catalog__body-container__filter__row__select2 {
    width: 100px;
    height: 28px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    background-image: url(../images/Arrow-down.svg);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 9px;
    border: none;
    font-size: 13px;
    position: relative;
    transition: all .3s;
    color: #696969;
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    cursor: pointer; }
    .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .catalog__body-container__filter__row__select2:focus {
      outline: none;
      background-image: url(../images/cross-select.svg);
      color: #d9ae9d;
      box-shadow: none; }
    .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .catalog__body-container__filter__row__select2:hover {
      color: #d9ae9d; }
      .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .catalog__body-container__filter__row__select2:hover::after {
        background: #d9ae9d; }
      .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .catalog__body-container__filter__row__select2:hover::before {
        background: #d9ae9d; }
    .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .catalog__body-container__filter__row__select2 option {
      background: #d9ae9d;
      color: #ffffff;
      border: none; }
      .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .catalog__body-container__filter__row__select2 option:focus {
        outline: none;
        background-position-y: 13px; }
      .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .catalog__body-container__filter__row__select2 option:hover {
        background: #d9ae9d; }
    .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .catalog__body-container__filter__row__select2:hover {
      background-position-y: 13px; }
    .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .catalog__body-container__filter__row__select2:focus {
      background-position-y: 13px; }
  .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .select2 {
    max-height: 28px; }
  .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row .select-active {
    transition: all .3s; }

.catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__order {
  position: relative;
  text-align: right; }
  .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__order img {
    margin-left: 1rem;
    transition: all .3s; }
  .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__order .catalog__body-container__filter__order__select {
    display: inline-block;
    width: 125px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    font-size: 13px;
    position: relative;
    transition: all .3s;
    color: #696969;
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    cursor: pointer; }
    .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__order .catalog__body-container__filter__order__select::after {
      content: "";
      height: 6px;
      width: 1px;
      display: inline-block;
      position: absolute;
      right: 8%;
      top: 43%;
      background: #696969;
      transform: rotate(-46deg);
      transition: all .3s; }
    .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__order .catalog__body-container__filter__order__select::before {
      content: "";
      height: 6px;
      width: 1px;
      display: inline-block;
      position: absolute;
      right: 5%;
      top: 43%;
      background: #696969;
      transform: rotate(46deg);
      transition: all .3s; }
    .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__order .catalog__body-container__filter__order__select:hover {
      color: #d9ae9d; }
      .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__order .catalog__body-container__filter__order__select:hover::after {
        background: #d9ae9d; }
      .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__order .catalog__body-container__filter__order__select:hover::before {
        background: #d9ae9d; }
  .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__order .select__order-active {
    transition: all .3s; }
    .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__order .select__order-active::after {
      content: "";
      height: 8px;
      width: 1px;
      display: inline-block;
      position: absolute;
      right: 15.5%;
      top: 43%;
      background: #696969;
      transform: rotate(-46deg);
      transition: all .6s; }
    .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__order .select__order-active::before {
      content: "";
      height: 8px;
      width: 1px;
      display: inline-block;
      position: absolute;
      right: 15.5%;
      top: 43%;
      background: #696969;
      transform: rotate(46deg);
      transition: all .3s; }

.select2-results__option__custom {
  background: #d9ae9d !important; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #d9ae9d !important; }

.select2-results__options {
  background: #d9ae9d;
  color: #ffffff;
  border-radius: unset; }
  .select2-results__options:focus {
    outline: none; }

.select2-selection {
  background: #d9ae9d;
  border: none !important;
  width: 100px;
  height: 28px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  background-image: url(../images/Arrow-down.svg);
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 9px;
  border: none;
  font-size: 13px;
  position: relative;
  transition: all .3s;
  color: #696969;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  cursor: pointer; }
  .select2-selection:focus {
    outline: none;
    background-image: url(../images/cross-select.svg);
    color: #d9ae9d;
    box-shadow: none; }

.select2-selection__arrow {
  display: none; }

footer .footer-wrap {
  padding-top: 2.3rem;
  border-top: 1px solid #c4c4c4; }

footer .column {
  display: flex;
  flex-direction: column; }
  footer .column input {
    border: none;
    border-bottom: 1px solid #878787; }
    footer .column input:focus {
      outline: none; }
    footer .column input::-webkit-input-placeholder {
      text-align: center; }
    footer .column input::-webkit-input-placeholder {
      text-align: center; }
    footer .column input::-webkit-input-placeholder {
      text-align: center; }
    footer .column input::-webkit-input-placeholder {
      text-align: center; }
  footer .column h3 {
    color: #878787;
    font-size: 13px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 1.5rem; }
  footer .column a {
    color: #878787;
    display: inline-block;
    position: relative;
    text-align: left;
    margin-bottom: .35rem; }
    footer .column a:hover {
      text-decoration: none;
      color: #d9ae9d; }
  footer .column .btn__subscribe {
    color: #d9ae9d;
    border: 1px solid #d9ae9d;
    text-align: center;
    box-shadow: none;
    padding: .7rem 3.2rem;
    transition: all .3s; }
    footer .column .btn__subscribe:hover {
      background: #d9ae9d;
      color: #ffffff; }

footer .footer__feedback h3 {
  margin-bottom: 1.6rem;
  text-align: center; }

footer .footer__feedback a {
  text-align: center; }

footer .footer__feedback .footer__input {
  margin-bottom: 1rem; }

footer .footer__feedback .footer__link-terms {
  color: #d9ae9d; }
  footer .footer__feedback .footer__link-terms:hover {
    color: #d9ae9d;
    text-decoration: underline; }

footer .footer__feedback p {
  font-size: 10px;
  text-align: center;
  margin-bottom: 0; }

footer .footer__socials {
  justify-content: center; }
  footer .footer__socials a {
    margin: 0 8.5px;
    position: relative;
    max-height: 14px; }
    footer .footer__socials a:first-child {
      margin-left: 0%; }
    footer .footer__socials a:after {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: 5px;
      width: 21px;
      height: 15px;
      left: 30%;
      bottom: -17px;
      transform: rotateX(180deg); }
    footer .footer__socials a:nth-child(1):after {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, white 100%), url(../images/facebook.svg);
      background-repeat: no-repeat;
      background-position: center;
      left: -7px;
      top: 26px; }
    footer .footer__socials a:nth-child(2):after {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, white 100%), url(../images/instagram.svg);
      background-repeat: no-repeat;
      background-position: center;
      left: -3px;
      top: 26px; }
    footer .footer__socials a:nth-child(3):after {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, white 100%), url(../images/youtube.svg);
      background-repeat: no-repeat;
      background-position: center;
      left: 0px;
      top: 26px; }
    footer .footer__socials a:nth-child(4):after {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, white 100%), url(../images/whatsup.svg);
      background-repeat: no-repeat;
      background-position: center;
      left: -4px;
      top: 26px; }
    footer .footer__socials a:nth-child(5):after {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, white 100%), url(../images/pinterest.svg);
      background-repeat: no-repeat;
      background-position: center;
      left: -5px;
      top: 26px; }
    footer .footer__socials a svg:hover path {
      fill: #d9ae9d; }
    footer .footer__socials a:hover:nth-child(5) svg path {
      fill: #d9ae9d; }
    footer .footer__socials a:hover:nth-child(5):after {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, white 100%), url(../images/pinterestBaseColor.svg);
      background-repeat: no-repeat;
      background-position: center;
      left: -5px;
      top: 26px; }
    footer .footer__socials a:hover:nth-child(4) svg path {
      fill: #d9ae9d; }
    footer .footer__socials a:hover:nth-child(4):after {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, white 100%), url(../images/whatsupBaseColor.svg);
      background-repeat: no-repeat;
      background-position: center;
      left: -4px;
      top: 26px; }
    footer .footer__socials a:hover:nth-child(3) svg path {
      fill: #d9ae9d; }
    footer .footer__socials a:hover:nth-child(3):after {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, white 100%), url(../images/youtubeBaseColor.svg);
      background-repeat: no-repeat;
      background-position: center;
      left: 0px;
      top: 26px; }
    footer .footer__socials a:hover:nth-child(2) svg path {
      fill: #d9ae9d; }
    footer .footer__socials a:hover:nth-child(2):after {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, white 100%), url(../images/instagramBaseColor.svg);
      background-repeat: no-repeat;
      background-position: center;
      left: -3px;
      top: 26px; }
    footer .footer__socials a:hover:nth-child(1) svg path {
      fill: #d9ae9d; }
    footer .footer__socials a:hover:nth-child(1):after {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, white 100%), url(../images/facebookBaseColor.svg);
      background-repeat: no-repeat;
      background-position: center;
      left: -7px;
      top: 26px; }

@media (max-width: 991px) {
  footer .column .btn__subscribe {
    padding: .7rem 0.2rem;
    font-size: .7em; } }

@media (max-width: 600px) {
  footer .column h3 {
    text-align: center; }
  footer .column a {
    text-align: center; }
  footer .column p {
    text-align: center; } }

header #ikkiLogo {
  cursor: pointer; }

.user-cabinet__intrface {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 35px;
  right: 10%;
  transition: all .3s linear;
  transition: all .3s;
  z-index: 1; }
  .user-cabinet__intrface.push {
    right: 50%; }
  .user-cabinet__intrface .user-cabinet__intrface_item {
    color: #878787;
    display: flex;
    height: 33px;
    justify-content: flex-end;
    width: 120px;
    background: transparent; }
    .user-cabinet__intrface .user-cabinet__intrface_item:first-child a {
      z-index: 2; }
    .user-cabinet__intrface .user-cabinet__intrface_item:first-child:hover {
      color: #878787;
      background: #fff; }
      .user-cabinet__intrface .user-cabinet__intrface_item:first-child:hover svg {
        fill: #878787; }
    .user-cabinet__intrface .user-cabinet__intrface_item:first-child p {
      color: #878787;
      display: inline-block;
      position: absolute;
      padding-right: 1.5rem; }
    .user-cabinet__intrface .user-cabinet__intrface_item p {
      display: none;
      position: relative;
      margin-bottom: 0;
      width: 160px;
      text-align: center;
      padding-top: 3px;
      color: #fff; }
    .user-cabinet__intrface .user-cabinet__intrface_item img {
      height: auto;
      width: auto; }
    .user-cabinet__intrface .user-cabinet__intrface_item svg {
      margin-top: 6px;
      margin-right: 6px;
      fill: #878787; }
    .user-cabinet__intrface .user-cabinet__intrface_item:hover {
      background: #d9ae9d;
      color: #fff;
      z-index: 99; }
      .user-cabinet__intrface .user-cabinet__intrface_item:hover p {
        display: block; }
      .user-cabinet__intrface .user-cabinet__intrface_item:hover svg {
        fill: #fff; }

body::-webkit-scrollbar {
  width: 11px; }

body::-webkit-scrollbar-track {
  background: transparent;
  -webkit-box-shadow: transparent;
  padding-right: .5rem; }

body::-webkit-scrollbar-thumb {
  background-color: #d9ae9d;
  outline: 1px solid #d9ae9d;
  border-radius: 14px; }

.shops .shops__column--wrapper {
  overflow-x: hidden; }

.shops .shops__column--wrapper::-webkit-scrollbar {
  width: 11px; }

.shops .shops__column--wrapper::-webkit-scrollbar-track {
  background: transparent;
  -webkit-box-shadow: transparent;
  padding-right: .5rem; }

.shops .shops__column--wrapper::-webkit-scrollbar-thumb {
  background-color: #d9ae9d;
  outline: 1px solid #d9ae9d;
  border-radius: 14px; }

.index {
  /*  PAGE/INDEX --> Top Section */
  /*  PAGE/INDEX --> Mid Section */ }
  .index .slider-top img {
    width: 100%; }
  .index .main-gallery:first-child .column__item:last-child {
    margin-top: 2rem; }
  .index .main-gallery .column {
    display: flex;
    flex-direction: column; }
    .index .main-gallery .column .column__item {
      display: flex; }
      .index .main-gallery .column .column__item img {
        width: 100%; }
  .index .main-gallery__h2 {
    font-size: 24px;
    width: 50%;
    border-bottom: 1px solid black;
    margin: 3rem auto 2.7rem 0;
    padding-bottom: 13px; }
  .index .slider-top__btn {
    position: absolute;
    display: inline-block;
    transform: translate(50%, -50%);
    top: 50%;
    right: 50%;
    z-index: 29;
    color: #ffffff !important;
    border: 1px solid #ffffff;
    padding: .7rem 3rem;
    transition: all .3s; }
    .index .slider-top__btn:hover {
      cursor: pointer;
      background: #d9ae9d; }

@media (max-width: 600px) {
  .index .main-gallery__h2 {
    width: 100%; } }

.vacancy .vacancy__title {
  border-bottom: 1px solid #878787;
  color: #2c2728;
  margin: 2.5rem 0; }

.vacancy .vacancy__about {
  color: #878787;
  position: relative; }
  .vacancy .vacancy__about ul {
    list-style: none;
    font-size: 10px;
    padding-left: 1%; }
    .vacancy .vacancy__about ul li {
      position: relative; }
      .vacancy .vacancy__about ul li:after {
        content: '';
        display: inline-block;
        position: absolute;
        left: -10px;
        top: 5.5px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #d9ae9d; }
  .vacancy .vacancy__about p {
    font-size: 10px; }
    .vacancy .vacancy__about p a {
      color: #d9ae9d; }

.vacancy .vacancy__description {
  color: #2c2728;
  font-size: 24px;
  margin: 1.8rem 0; }

.vacancy .vacancy__job {
  color: #2c2728;
  font-size: 18px;
  margin-bottom: 1rem; }

.vacancy h5 {
  font-size: 12px;
  text-transform: uppercase; }

.vacancy .vacancy__block {
  margin-bottom: 2.5rem; }

.vacancy .vacancy__contacts .vacancy__contact-title {
  color: #2c2728;
  font-size: 18px;
  margin-bottom: 1rem;
  text-transform: uppercase; }

.vacancy .vacancy__contacts .vacancy__contacts__person p {
  margin-bottom: 0; }
  .vacancy .vacancy__contacts .vacancy__contacts__person p a {
    color: #2c2728;
    font-weight: 700; }

.questions .questions__title--wrap {
  display: flex;
  border-bottom: 1px solid #c2c2c2;
  justify-content: space-between;
  margin-bottom: .8rem;
  margin-top: 2.2rem; }
  .questions .questions__title--wrap .questions__title {
    font-size: 24px;
    color: #2c2728; }
  .questions .questions__title--wrap .questions__ask {
    color: #2c2728;
    font-size: 13px;
    margin-bottom: 0rem;
    padding-top: .5rem;
    font-weight: 600;
    position: relative;
    cursor: pointer; }
    .questions .questions__title--wrap .questions__ask::before {
      content: "";
      display: inline-block;
      position: absolute;
      left: -1.2rem;
      top: 10px;
      width: 15px;
      height: 15px;
      background-image: url(../images/information.png);
      background-repeat: no-repeat;
      background-position: center; }

.questions .accordion--wrapper .accordion .card {
  border: none; }
  .questions .accordion--wrapper .accordion .card .card-header {
    background-color: transparent;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 0;
    display: flex;
    position: relative; }
    .questions .accordion--wrapper .accordion .card .card-header .btn {
      color: #878787;
      transition: all .3s;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0 2.2rem; }
    .questions .accordion--wrapper .accordion .card .card-header span {
      font-size: 24px;
      padding-top: 5px;
      transition: all .3s; }
    .questions .accordion--wrapper .accordion .card .card-header:hover .btn {
      text-decoration: none;
      color: #2c2728; }
    .questions .accordion--wrapper .accordion .card .card-header:hover span {
      color: #d9ae9d; }
    .questions .accordion--wrapper .accordion .card .card-header::after {
      content: "";
      display: inline-block;
      position: absolute;
      right: 1rem;
      top: 20px;
      width: 2px;
      height: 28px;
      background-color: #d9ae9d;
      transition: all .3s; }
    .questions .accordion--wrapper .accordion .card .card-header::before {
      content: "";
      display: inline-block;
      position: absolute;
      right: 1rem;
      top: 20px;
      width: 2px;
      height: 28px;
      background-color: #d9ae9d;
      transform: rotate(90deg); }
  .questions .accordion--wrapper .accordion .card .card-body {
    border-top: none;
    color: #878787; }
  .questions .accordion--wrapper .accordion .card .collapse-sign::after {
    transform: rotate(90deg); }
  .questions .accordion--wrapper .accordion .card .highlightNumber span {
    color: #d9ae9d; }

.delivery .delivery__title {
  border-bottom: 1px solid #878787;
  color: #2c2728;
  margin: 2.5rem 0; }

.delivery .delivery__text-block--wrapper {
  color: #878787;
  position: relative; }
  .delivery .delivery__text-block--wrapper ul {
    list-style: none;
    font-size: 12px;
    padding-left: 1%;
    margin-bottom: 0rem; }
    .delivery .delivery__text-block--wrapper ul li {
      position: relative;
      color: #2c2728;
      font-weight: 600; }
      .delivery .delivery__text-block--wrapper ul li:after {
        content: '';
        display: inline-block;
        position: absolute;
        left: -10px;
        top: 5.5px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #d9ae9d; }
  .delivery .delivery__text-block--wrapper p {
    font-size: 12px; }
    .delivery .delivery__text-block--wrapper p a {
      color: #d9ae9d; }
    .delivery .delivery__text-block--wrapper p span {
      font-weight: 600;
      color: #2c2728; }
  .delivery .delivery__text-block--wrapper .delivery__info__title {
    color: #2c2728;
    font-size: 24px;
    margin-bottom: 1rem;
    text-transform: uppercase; }
  .delivery .delivery__text-block--wrapper .delivery__title--wrap {
    display: flex; }
    .delivery .delivery__text-block--wrapper .delivery__title--wrap p {
      margin-bottom: 0;
      padding-top: .5rem;
      margin-left: 1rem; }

.contacts .contacts__title {
  border-bottom: 1px solid #878787;
  color: #2c2728;
  margin: 2.5rem 0;
  padding-bottom: .5rem; }

.contacts .contacts__map-container {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url(../images/contacts-map.png);
  min-height: 380px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 100%;
  background-size: cover; }

.contacts .contacts__column--wrapper .contacts__column--wrapper__item {
  margin-bottom: 2rem;
  padding: .5rem 0; }
  .contacts .contacts__column--wrapper .contacts__column--wrapper__item:nth-child(1) {
    background-image: url(../images/contacts-bage-1.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 0%; }
    .contacts .contacts__column--wrapper .contacts__column--wrapper__item:nth-child(1) p {
      text-transform: uppercase;
      font-weight: 600; }
  .contacts .contacts__column--wrapper .contacts__column--wrapper__item:nth-child(2) {
    background-image: url(../images/contacts-bage-2.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 0%; }
    .contacts .contacts__column--wrapper .contacts__column--wrapper__item:nth-child(2) a {
      padding-left: 0rem;
      color: inherit; }
      .contacts .contacts__column--wrapper .contacts__column--wrapper__item:nth-child(2) a:first-child {
        padding-right: .3rem; }
      .contacts .contacts__column--wrapper .contacts__column--wrapper__item:nth-child(2) a:last-child {
        padding-left: .3rem; }
  .contacts .contacts__column--wrapper .contacts__column--wrapper__item:nth-child(3) {
    background-image: url(../images/contacts-bage-3.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 0%; }
    .contacts .contacts__column--wrapper .contacts__column--wrapper__item:nth-child(3) a {
      color: #d9ae9d; }
  .contacts .contacts__column--wrapper .contacts__column--wrapper__item h2 {
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 4rem; }
  .contacts .contacts__column--wrapper .contacts__column--wrapper__item p {
    font-size: 12px;
    padding-left: 4rem; }
  .contacts .contacts__column--wrapper .contacts__column--wrapper__item a {
    padding-left: 4rem; }

.contacts .contacts__btn-feddback {
  display: inline-block;
  background: #d9ae9d;
  color: #fff;
  padding: .8rem 3rem .8rem 1rem;
  font-size: 11px;
  background-image: url(../images/right-arrow__btn.png);
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: center;
  margin-top: 2rem;
  margin-left: -3rem;
  transition: all .3s;
  border: 1px solid #d9ae9d; }
  .contacts .contacts__btn-feddback:hover {
    background: #fff;
    color: #d9ae9d;
    border: 1px solid #d9ae9d;
    background-position-x: 90%;
    background-position-y: center; }

.contacts .contacts__btn-feddback--modal {
  margin-left: 0rem;
  margin: auto;
  background-image: none;
  align-items: center;
  padding: .8rem .8rem;
  display: flex; }
  .contacts .contacts__btn-feddback--modal:active {
    outline: none; }

.contacts .modal-footer {
  border-top: none; }

.contacts .modal-body input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #878787;
  margin-bottom: 1rem;
  padding-left: 1rem; }
  .contacts .modal-body input::placeholder {
    text-align: center; }
  .contacts .modal-body input:focus {
    outline: none; }

.contacts .modal-body textarea {
  width: 100%;
  border: 1px solid #878787; }
  .contacts .modal-body textarea:focus {
    outline: none; }

.about .about__img-frame {
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 360px;
  background: url(../images/about-img.png);
  background-repeat: no-repeat;
  background-size: cover; }

.about .about__title {
  border-bottom: 1px solid #878787;
  color: #2c2728;
  margin: 2.5rem 0;
  padding-bottom: .5rem; }

.about p {
  text-align: center;
  font-size: 10px; }

.about img {
  width: 100%; }

.about .about__socials {
  justify-content: center; }
  .about .about__socials a {
    margin: 0 8.5px;
    position: relative; }
    .about .about__socials a:first-child {
      margin-left: 0%; }
    .about .about__socials a:nth-child(1):after {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, white 100%), url(../images/facebook.svg);
      background-repeat: no-repeat;
      background-position: center;
      left: -7px; }
    .about .about__socials a:nth-child(2):after {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, white 100%), url(../images/instagram.svg);
      background-repeat: no-repeat;
      background-position: center;
      left: -3px; }
    .about .about__socials a:nth-child(3):after {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, white 100%), url(../images/youtube.svg);
      background-repeat: no-repeat;
      background-position: center;
      left: 0px; }
    .about .about__socials a:nth-child(4):after {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, white 100%), url(../images/whatsup.svg);
      background-repeat: no-repeat;
      background-position: center;
      left: -4px; }
    .about .about__socials a:nth-child(5):after {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, white 100%), url(../images/pinterest.svg);
      background-repeat: no-repeat;
      background-position: center;
      left: -5px; }
    .about .about__socials a svg path {
      transition: all .3s; }
    .about .about__socials a svg:hover path {
      fill: #d9ae9d; }

.about .about__socials__title {
  background: url(../images/short-border.png) center 0%;
  background-repeat: no-repeat; }

.about span {
  display: inline-block;
  color: #878787;
  padding: 1.2rem 0;
  margin: 1rem 0;
  width: 100%;
  text-align: center;
  background: url(../images/short-border.png) center 0%, url(../images/short-border.png) center 100%;
  background-repeat: no-repeat;
  font-size: 10px; }

.about .about__text-wrapper {
  padding-top: 1rem; }
  .about .about__text-wrapper p {
    color: #2c2728; }

.exchange .exchange__title {
  border-bottom: 1px solid #878787;
  color: #2c2728;
  margin: 2.5rem 0;
  padding-bottom: .5rem; }

.exchange .exchange__info--title {
  color: #2c2728;
  font-size: 18px;
  margin-bottom: 1rem;
  text-transform: uppercase; }

.exchange .exchange__text-block--wrapper {
  color: #878787;
  position: relative; }
  .exchange .exchange__text-block--wrapper ul {
    list-style: none;
    font-size: 12px;
    padding-left: 1%;
    margin-bottom: 1rem; }
    .exchange .exchange__text-block--wrapper ul li {
      position: relative;
      color: #2c2728;
      font-weight: 600; }
      .exchange .exchange__text-block--wrapper ul li:after {
        content: '';
        display: inline-block;
        position: absolute;
        left: -10px;
        top: 5.5px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #d9ae9d; }
      .exchange .exchange__text-block--wrapper ul li span {
        color: #878787; }
  .exchange .exchange__text-block--wrapper p {
    font-size: 12px; }
    .exchange .exchange__text-block--wrapper p a {
      color: #d9ae9d; }
    .exchange .exchange__text-block--wrapper p span {
      font-weight: 600;
      color: #2c2728; }
  .exchange .exchange__text-block--wrapper .exchange__info__title {
    color: #2c2728;
    font-size: 24px;
    margin-bottom: 1rem;
    text-transform: uppercase; }
  .exchange .exchange__text-block--wrapper .exchange__title--wrap {
    display: flex; }
    .exchange .exchange__text-block--wrapper .exchange__title--wrap p {
      margin-bottom: 0;
      padding-top: .5rem;
      margin-left: 1rem; }

.articles .articles__title {
  border-bottom: 1px solid #878787;
  color: #2c2728;
  margin: 2.5rem 0;
  padding-bottom: .5rem; }

.articles .articles__item {
  display: flex;
  flex-direction: column; }
  .articles .articles__item img {
    width: 100%; }
  .articles .articles__item a {
    color: #2c2728;
    font-size: 24px;
    padding: .5rem 0; }
  .articles .articles__item span {
    font-size: 12px;
    color: #d9ae9d; }
    .articles .articles__item span:last-child {
      color: #878787; }

.articles .show-more {
  text-align: center;
  padding: 1rem 0;
  margin-top: 1rem;
  margin-bottom: 3rem; }
  .articles .show-more a {
    font-size: 16px;
    color: #d9ae9d;
    position: relative; }
    .articles .show-more a::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 13px;
      height: 1px;
      right: -20px;
      top: 57%;
      transform: rotate(90deg);
      background: #d9ae9d; }
    .articles .show-more a::after {
      content: "";
      display: inline-block;
      position: absolute;
      width: 13px;
      height: 1px;
      right: -20px;
      top: 57%;
      background: #d9ae9d; }

.comments .comments__title {
  border-bottom: 1px solid #878787;
  color: #2c2728;
  margin: 2.5rem 0;
  padding-bottom: .5rem; }

.comments .comment__item {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 1rem;
  padding-top: 2rem; }
  .comments .comment__item .comment__item__rate svg {
    cursor: pointer;
    fill: #f5e4dd; }
    .comments .comment__item .comment__item__rate svg:hover {
      fill: #e2b39f; }
  .comments .comment__item .comment__item__title {
    color: #878787;
    font-size: 24px;
    margin-bottom: 1rem;
    text-transform: uppercase; }
  .comments .comment__item .comment__item__text {
    color: #878787;
    font-size: 12px; }
  .comments .comment__item .comment__item__name-date--wrapper {
    display: flex; }
    .comments .comment__item .comment__item__name-date--wrapper p {
      font-weight: 600;
      color: #2c2728;
      font-size: 13px; }
      .comments .comment__item .comment__item__name-date--wrapper p span {
        color: #9a9a9a; }
      .comments .comment__item .comment__item__name-date--wrapper p:first-child {
        margin-right: 1rem; }

.comments .show-more {
  text-align: center;
  padding: 1rem 0;
  margin-top: 1rem;
  margin-bottom: 3rem; }
  .comments .show-more a {
    font-size: 16px;
    color: #d9ae9d;
    position: relative; }
    .comments .show-more a::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 13px;
      height: 1px;
      right: -20px;
      top: 57%;
      transform: rotate(90deg);
      background: #d9ae9d; }
    .comments .show-more a::after {
      content: "";
      display: inline-block;
      position: absolute;
      width: 13px;
      height: 1px;
      right: -20px;
      top: 57%;
      background: #d9ae9d; }

.shops .shops__title {
  border-bottom: 1px solid #878787;
  color: #2c2728;
  margin: 2.5rem 0;
  padding-bottom: .5rem; }

.shops .shops__map-container {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url(../images/contacts-map.png);
  min-height: 470px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 100%;
  background-size: cover; }

.shops .shops__column--wrapper {
  max-height: 470px;
  overflow-y: scroll; }
  .shops .shops__column--wrapper .shops__column--wrapper__item__title {
    padding-left: 2.5rem; }
    .shops .shops__column--wrapper .shops__column--wrapper__item__title input {
      border: 1px solid #dddddd;
      width: 320px;
      height: 40px;
      padding: .3rem 0;
      padding-left: 3rem;
      background: url(../images/search-input.png);
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: 5%;
      margin-bottom: 1rem; }
      .shops .shops__column--wrapper .shops__column--wrapper__item__title input:focus {
        outline: none; }
      .shops .shops__column--wrapper .shops__column--wrapper__item__title input:placeholder {
        color: #9a9a9a; }
    .shops .shops__column--wrapper .shops__column--wrapper__item__title h2 {
      font-size: 18px;
      right: 13%; }
  .shops .shops__column--wrapper .shops__column--wrapper__item {
    padding: .5rem 0;
    padding-left: 2.5rem; }
    .shops .shops__column--wrapper .shops__column--wrapper__item ul {
      list-style: none;
      font-size: 12px;
      padding-left: 1%;
      margin-bottom: 0rem; }
      .shops .shops__column--wrapper .shops__column--wrapper__item ul li {
        position: relative;
        color: #2c2728;
        font-weight: 700;
        text-transform: uppercase; }
        .shops .shops__column--wrapper .shops__column--wrapper__item ul li:after {
          content: '';
          display: inline-block;
          position: absolute;
          left: -10px;
          top: 5.5px;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: #d9ae9d; }
    .shops .shops__column--wrapper .shops__column--wrapper__item p {
      font-size: 12px;
      margin-top: .5rem; }
    .shops .shops__column--wrapper .shops__column--wrapper__item:nth-child(2n) {
      background: #f5f5f5; }
    .shops .shops__column--wrapper .shops__column--wrapper__item .shops__column--wrapper__item-flex {
      position: relative; }
      .shops .shops__column--wrapper .shops__column--wrapper__item .shops__column--wrapper__item-flex span {
        color: #2c2728;
        font-weight: 700;
        font-size: 12px;
        position: relative; }
        .shops .shops__column--wrapper .shops__column--wrapper__item .shops__column--wrapper__item-flex span:first-child {
          padding-right: 1rem; }
          .shops .shops__column--wrapper .shops__column--wrapper__item .shops__column--wrapper__item-flex span:first-child::after {
            content: "/";
            display: inline-block;
            color: #d9ae9d;
            margin-right: -.5rem;
            position: absolute;
            top: -2px;
            right: 12%; }

.shops .shops__btn-feddback {
  display: inline-block;
  background: #d9ae9d;
  color: #fff;
  padding: .8rem 3rem .8rem 1rem;
  font-size: 11px;
  background-image: url(../images/right-arrow__btn.png);
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: center;
  margin-top: 2rem;
  margin-left: -3rem;
  transition: all .3s;
  border: 1px solid #d9ae9d; }
  .shops .shops__btn-feddback:hover {
    background: #fff;
    color: #d9ae9d;
    border: 1px solid #d9ae9d;
    background-position-x: 90%;
    background-position-y: center; }

.shops .shops__btn-feddback--modal {
  margin-left: 0rem;
  margin: auto;
  background-image: none;
  align-items: center;
  padding: .8rem .8rem;
  display: flex; }
  .shops .shops__btn-feddback--modal:active {
    outline: none; }

.shops .modal-footer {
  border-top: none; }

.shops .modal-body input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #878787;
  margin-bottom: 1rem;
  padding-left: 1rem; }
  .shops .modal-body input::placeholder {
    text-align: center; }
  .shops .modal-body input:focus {
    outline: none; }

.shops .modal-body textarea {
  width: 100%;
  border: 1px solid #878787; }
  .shops .modal-body textarea:focus {
    outline: none; }

.catalog .advance {
  height: 100% !important; }

.catalog .rotate {
  transform: rotate(45deg); }

.catalog .catalog__title--wrap {
  display: flex;
  border-bottom: 1px solid #c2c2c2;
  justify-content: space-between;
  margin-bottom: .8rem;
  margin-top: 2.2rem; }
  .catalog .catalog__title--wrap .catalog__title {
    font-size: 24px;
    color: #2c2728;
    text-transform: uppercase; }
  .catalog .catalog__title--wrap .catalog__quantity p {
    color: #696969;
    font-size: 13px;
    display: inline-block; }
  .catalog .catalog__title--wrap .catalog__quantity span {
    font-size: 13px;
    padding: 0 .5rem;
    color: #696969;
    cursor: pointer;
    transition: all .3s; }
    .catalog .catalog__title--wrap .catalog__quantity span:hover {
      color: #d9ae9d; }
  .catalog .catalog__title--wrap .catalog__quantity .span-active {
    color: #d9ae9d; }

.catalog .catalog__body-container_collapse {
  min-height: 380px;
  position: sticky;
  top: 0; }
  .catalog .catalog__body-container_collapse .catalog__card .catalog__card-header .catalog__btn-link {
    padding-left: 0rem;
    font-weight: 700;
    font-size: 14px;
    position: relative;
    transition: all 1s; }
    .catalog .catalog__body-container_collapse .catalog__card .catalog__card-header .catalog__btn-link:focus {
      outline: none;
      box-shadow: none; }
    .catalog .catalog__body-container_collapse .catalog__card .catalog__card-header .catalog__btn-link::after {
      content: "";
      width: 8px;
      height: 5px;
      display: inline-block;
      color: #878787;
      position: absolute;
      right: 0;
      top: 14px;
      background: url(../images/Arrow-down.svg);
      background-size: cover;
      transform: rotate(0deg); }
  .catalog .catalog__body-container_collapse .catalog__card .catalog__card-header .catalog__btn-link--transform::after {
    transform: rotate(180deg); }
  .catalog .catalog__body-container_collapse .catalog__card .catalog__card-body ul {
    padding-left: 0rem; }
    .catalog .catalog__body-container_collapse .catalog__card .catalog__card-body ul li {
      font-size: 14px;
      color: #878787;
      list-style: none;
      cursor: pointer;
      padding: .4rem 0;
      transition: all .3s; }
      .catalog .catalog__body-container_collapse .catalog__card .catalog__card-body ul li:hover {
        color: #d9ae9d; }

.catalog .catalog__body-container--flex .catalog__body-container__filter {
  min-height: 70px;
  margin-bottom: 2rem; }
  .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row {
    display: flex;
    justify-content: space-around; }
    .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row:first-child {
      margin-right: 25%;
      margin-bottom: 1rem; }
    .catalog .catalog__body-container--flex .catalog__body-container__filter .catalog__body-container__filter__row:last-child {
      height: 0%;
      overflow: hidden; }

.catalog .catalog__body-container--flex .catalog__body-container__display .catalog__body-container__display__item .catalog__body-container__display__item__frame {
  margin-top: 2rem;
  min-height: 260px;
  position: relative; }
  .catalog .catalog__body-container--flex .catalog__body-container__display .catalog__body-container__display__item .catalog__body-container__display__item__frame .catalog__body-container__display__item__frame__1 {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background: url(../images/catalog__item-1.png);
    background-size: cover;
    transition: all .3s; }
  .catalog .catalog__body-container--flex .catalog__body-container__display .catalog__body-container__display__item .catalog__body-container__display__item__frame .catalog__body-container__display__item__frame__2 {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    background: url(../images/catalog__item-2.png);
    background-size: cover;
    transition: all .3s; }
  .catalog .catalog__body-container--flex .catalog__body-container__display .catalog__body-container__display__item .catalog__body-container__display__item__frame svg {
    position: absolute;
    right: 4%;
    bottom: 3%;
    z-index: 9;
    transition: all .3s;
    cursor: pointer; }
    .catalog .catalog__body-container--flex .catalog__body-container__display .catalog__body-container__display__item .catalog__body-container__display__item__frame svg path {
      fill: rgba(255, 255, 255, 0.6);
      stroke: #ffffff; }
    .catalog .catalog__body-container--flex .catalog__body-container__display .catalog__body-container__display__item .catalog__body-container__display__item__frame svg:hover {
      transform: scale(1.5); }
  .catalog .catalog__body-container--flex .catalog__body-container__display .catalog__body-container__display__item .catalog__body-container__display__item__frame .inFavorites {
    transform: scale(1.5); }
  .catalog .catalog__body-container--flex .catalog__body-container__display .catalog__body-container__display__item .catalog__body-container__display__item__frame a {
    width: 100%;
    height: 90%;
    position: absolute;
    display: inline-block;
    z-index: 100; }

.catalog .catalog__body-container--flex .catalog__body-container__display .catalog__body-container__display__item .catalog__body-container__display__item__color {
  display: flex;
  justify-content: center; }
  .catalog .catalog__body-container--flex .catalog__body-container__display .catalog__body-container__display__item .catalog__body-container__display__item__color .catalog__body-container__display__item__color--wrapper {
    height: 34px; }
    .catalog .catalog__body-container--flex .catalog__body-container__display .catalog__body-container__display__item .catalog__body-container__display__item__color .catalog__body-container__display__item__color--wrapper span {
      min-width: 12px;
      min-height: 12px;
      border: 1px solid transparent;
      background: #fff;
      display: inline-block;
      border-radius: 50%;
      position: relative;
      margin: 0px 2px;
      transition: all .3s;
      cursor: pointer; }
      .catalog .catalog__body-container--flex .catalog__body-container__display .catalog__body-container__display__item .catalog__body-container__display__item__color .catalog__body-container__display__item__color--wrapper span a {
        background: #adc2a3;
        display: inline-block;
        width: 8px;
        height: 8px;
        position: absolute;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%; }
      .catalog .catalog__body-container--flex .catalog__body-container__display .catalog__body-container__display__item .catalog__body-container__display__item__color .catalog__body-container__display__item__color--wrapper span:hover {
        border: 1px solid #adc2a3; }
        .catalog .catalog__body-container--flex .catalog__body-container__display .catalog__body-container__display__item .catalog__body-container__display__item__color .catalog__body-container__display__item__color--wrapper span:hover a {
          border: 1px solid #ffffff;
          width: 9px;
          height: 9px; }

.catalog .catalog__body-container--flex .catalog__body-container__display .catalog__body-container__display__item .catalog__body-container__display__item__status .catalog__body-container__display__item__status__label--NEW {
  text-transform: uppercase;
  padding: 4px 15px;
  display: inline-block;
  background: #e8e8e8;
  color: #696969;
  cursor: default;
  font-size: 13px; }

.catalog .catalog__body-container--flex .catalog__body-container__display .catalog__body-container__display__item .catalog__body-container__display__item__status .catalog__body-container__display__item__status__label--SALE {
  text-transform: uppercase;
  padding: 4px 15px;
  display: inline-block;
  background: #d9ae9d;
  color: #ffffff;
  cursor: default;
  font-size: 13px; }

.catalog .catalog__body-container--flex .catalog__body-container__display .catalog__body-container__display__item .catalog__body-container__display__item__title h3 {
  color: #787878;
  font-size: 13px;
  text-transform: uppercase;
  padding: 17px 0; }

.catalog .catalog__body-container--flex .catalog__body-container__display .catalog__body-container__display__item .catalog__body-container__display__item__price {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  display: flex;
  justify-content: start;
  max-height: 16px;
  position: relative; }
  .catalog .catalog__body-container--flex .catalog__body-container__display .catalog__body-container__display__item .catalog__body-container__display__item__price span:last-child {
    font-size: 11px;
    margin-left: 2rem;
    position: relative;
    padding-top: 3px; }
    .catalog .catalog__body-container--flex .catalog__body-container__display .catalog__body-container__display__item .catalog__body-container__display__item__price span:last-child::before {
      content: "";
      display: inline-block;
      width: 100%;
      height: 1px;
      background: #7c2d1c;
      opacity: .6;
      position: absolute;
      top: 70%; }

.cabinet .cabinet__title {
  border-bottom: 1px solid #878787;
  color: #2c2728;
  margin: 2.5rem 0; }

.cabinet h2 {
  font-size: 14px;
  color: #666666;
  line-height: 1.714; }

.cabinet .select2-container {
  margin-bottom: 10px; }

.cabinet .select2-container--default .select2-selection--single .select2-selection__clear {
  display: none; }

.cabinet .select2-container--default .select2-selection--single {
  border: 1px solid gainsboro !important; }

.cabinet .select2-container--default .select2-selection--single {
  width: 100%; }

.cabinet .select2-container--default .select2-selection--single .select2-selection__rendered {
  text-align: center; }

.cabinet .select2-selection {
  background: #d9ae9d;
  border: none !important;
  border-radius: 0;
  width: 100px;
  height: 28px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  background-image: url(../images/Arrow-down.svg);
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 6px;
  border: none;
  font-size: 13px;
  position: relative;
  transition: all .3s;
  color: #696969;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  cursor: pointer; }
  .cabinet .select2-selection:focus {
    outline: none;
    background-image: url(../images/Arrow-down.svg); }

.cabinet .tab-pane input {
  border-width: 1px;
  border-color: gainsboro;
  border-style: solid;
  width: 100%; }

.cabinet .tab-pane p {
  font-size: 13px;
  color: #989898;
  line-height: 1.846;
  text-align: left; }

.cabinet .tab-pane .tab-content-left .date-of-birth .select2-container {
  width: 30% !important; }

.cabinet .tab-pane .tab-content-left .date-of-birth .select2-container--default .select2-selection--single .select2-selection__rendered {
  text-align: center !important; }

.cabinet .tab-pane .tab-content-left .select2-container--default .select2-selection--single .select2-selection__rendered {
  text-align: left;
  margin-left: 4%; }

.cabinet .tab-pane .flexis {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center; }

.cabinet .cabinet__navs-list a {
  color: #2c2728;
  font-weight: 700px;
  text-transform: uppercase;
  font-size: 14px;
  padding-left: 0; }
  .cabinet .cabinet__navs-list a:hover {
    color: #d9ae9d; }

.cabinet .cabinet__navs-list .active {
  color: #d9ae9d; }

.cabinet .address-item {
  transition: all .8s; }
  .cabinet .address-item input {
    width: 100%; }

.cabinet .add-address {
  width: 100%;
  display: flex;
  justify-content: center;
  transition: all .3s; }
  .cabinet .add-address .add-address-btn {
    display: inline-block;
    color: #d9ae9d;
    text-transform: uppercase;
    font-size: 14px;
    margin: auto;
    position: relative;
    padding-left: 2rem;
    cursor: pointer; }
    .cabinet .add-address .add-address-btn::after {
      content: "";
      display: inline-block;
      height: 7px;
      width: 1px;
      background: #d9ae9d;
      position: absolute;
      left: 15%;
      top: 8px; }
    .cabinet .add-address .add-address-btn::before {
      content: "";
      display: inline-block;
      height: 7px;
      width: 1px;
      background: #d9ae9d;
      position: absolute;
      left: 15%;
      top: 8px;
      transform: rotate(90deg); }

.cabinet .save-address input {
  background-color: #d9ae9d;
  font-size: 14px;
  color: white;
  line-height: 1.714;
  border: 1px solid #d9ae9d;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all .3s; }
  .cabinet .save-address input:hover {
    background-color: white;
    color: #d9ae9d; }

.cabinet #address-item-second {
  height: 264px;
  transition: all .3s; }

.notification-row {
  margin-top: 1rem;
  margin-bottom: 2rem; }
  .notification-row .title {
    width: 100%;
    background: #f5f5f5; }
    .notification-row .title .title-h2 {
      text-transform: uppercase;
      color: #666666;
      text-align: center; }

.basket-product {
  height: 100%;
  min-width: 550px;
  position: fixed;
  right: 0;
  top: 0;
  background: #fff;
  transform: translateX(100%);
  z-index: 1;
  transition: all .3s linear;
  border-left: 1px solid gainsboro; }
  .basket-product.show {
    transform: translateX(0); }
  .basket-product .basket__menu .basket__menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gainsboro; }
    .basket-product .basket__menu .basket__menu-header h1 {
      margin-left: 30px;
      font-size: 24px;
      font-family: "ProximaNova";
      color: #2c2728;
      line-height: 2;
      text-align: left;
      text-transform: uppercase; }
    .basket-product .basket__menu .basket__menu-header .close__btn {
      border-width: 1px;
      border-color: gainsboro;
      border-style: solid;
      border-bottom: none;
      background-color: whitesmoke;
      width: 77px;
      height: 82px;
      outline: none; }
      .basket-product .basket__menu .basket__menu-header .close__btn span {
        color: #b8b8b8;
        width: 13px;
        height: 13px; }
  .basket-product .basket__menu .basket__menu-body {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-top: 27px;
    margin-right: 78px; }
    .basket-product .basket__menu .basket__menu-body h2 {
      font-size: 12px;
      font-family: "ProximaNova";
      color: #545454;
      text-transform: uppercase;
      line-height: 1.333; }
    .basket-product .basket__menu .basket__menu-body p {
      font-size: 14px;
      font-family: "ProximaNova";
      color: #545454;
      line-height: 1.143;
      margin-bottom: 0; }
    .basket-product .basket__menu .basket__menu-body img {
      align-self: center; }
    .basket-product .basket__menu .basket__menu-body .product__description {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column; }
    .basket-product .basket__menu .basket__menu-body .product__amount {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .basket-product .basket__menu .basket__menu-body .product__amount button {
        border: unset;
        background-color: unset;
        outline: none; }
  .basket-product .basket__menu .basket__menu-footer {
    padding-top: 60px; }
    .basket-product .basket__menu .basket__menu-footer h1 {
      font-size: 16px;
      color: #545454;
      text-transform: uppercase;
      line-height: 1;
      text-align: center; }
    .basket-product .basket__menu .basket__menu-footer .payForOrder {
      border: none;
      outline: none;
      background-color: #d9ae9d;
      width: 100%;
      min-height: 34px;
      font-size: 14px;
      color: white;
      text-transform: uppercase;
      line-height: 1.714;
      margin-top: 20px; }

body {
  position: relative;
  overflow-x: hidden;
  transition: all .3s linear;
  left: 0; }
  body.push {
    left: -40%; }

.slider-for img {
  margin: auto; }

.slider-for .slick-next {
  background: url(../images/arrowSlider.png);
  background-repeat: no-repeat;
  background-position: center;
  right: 20px;
  transform: rotate(180deg); }
  .slider-for .slick-next::before {
    content: "" !important; }

.slider-for .slick-prev {
  background: url(../images/arrowSlider.png);
  background-repeat: no-repeat;
  background-position: center;
  left: 20px;
  z-index: 2; }
  .slider-for .slick-prev::before {
    content: ""; }

.slider-for .slick-slide {
  outline: none; }

.product-inner__wrap-slider .slider-nav img {
  height: 103px;
  margin: auto; }

.product-inner__wrap-slider .slider-nav .slick-slide {
  cursor: pointer; }
  .product-inner__wrap-slider .slider-nav .slick-slide:focus {
    outline: none; }

.parameters-wrap {
  margin: 1.5rem 0;
  display: flex;
  color: #545454; }
  .parameters-wrap h5 {
    color: #545454; }
  .parameters-wrap .parameters-wrap__select-wrap {
    display: flex;
    flex-direction: column;
    width: 25%; }
    .parameters-wrap .parameters-wrap__select-wrap span {
      font-size: 10px; }
    .parameters-wrap .parameters-wrap__select-wrap button {
      font-size: 10px;
      color: #545454;
      text-transform: uppercase; }
    .parameters-wrap .parameters-wrap__select-wrap h5 {
      text-transform: uppercase;
      font-size: 12px;
      margin-bottom: 1rem;
      font-size: 10px; }
    .parameters-wrap .parameters-wrap__select-wrap select {
      width: 100px;
      height: 28px;
      max-height: 50px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: none;
      background-image: url(../images/Arrow-down.svg);
      background-repeat: no-repeat;
      background-position-x: 95%;
      background-position-y: 9px;
      border: none;
      font-size: 13px;
      position: relative;
      transition: all .3s;
      color: #696969;
      user-select: none;
      /* supported by Chrome and Opera */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      cursor: pointer; }
      .parameters-wrap .parameters-wrap__select-wrap select:focus {
        outline: none;
        background-image: url(../images/cross-select.svg);
        color: #d9ae9d;
        box-shadow: none; }
      .parameters-wrap .parameters-wrap__select-wrap select:hover {
        color: #d9ae9d; }
        .parameters-wrap .parameters-wrap__select-wrap select:hover::after {
          background: #d9ae9d; }
        .parameters-wrap .parameters-wrap__select-wrap select:hover::before {
          background: #d9ae9d; }
      .parameters-wrap .parameters-wrap__select-wrap select option {
        background: #d9ae9d;
        color: #ffffff;
        border: none; }
        .parameters-wrap .parameters-wrap__select-wrap select option:focus {
          outline: none;
          background-position-y: 13px; }
        .parameters-wrap .parameters-wrap__select-wrap select option:hover {
          background: #d9ae9d; }
      .parameters-wrap .parameters-wrap__select-wrap select:hover {
        background-position-y: 13px; }
      .parameters-wrap .parameters-wrap__select-wrap select:focus {
        background-position-y: 13px; }
  .parameters-wrap .dropdown-menu-color {
    max-width: 100px;
    background: #fff;
    color: #ffffff;
    border-radius: unset;
    border: 1px solid rgba(0, 0, 0, 0.09); }
    .parameters-wrap .dropdown-menu-color input {
      width: 70%;
      background: transparent;
      border: none;
      border-bottom: 1px solid #ffffff;
      color: #ffffff;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font-size: 12px;
      background: url(../images/KZT.png);
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: 95%; }
      .parameters-wrap .dropdown-menu-color input:focus {
        outline: none; }
    .parameters-wrap .dropdown-menu-color p {
      text-align: center;
      font-size: 12px;
      margin-bottom: .5rem;
      margin-top: .5rem;
      width: 100%; }
  .parameters-wrap .catalog__body-container__filter__row__select2 {
    width: 100%;
    padding: 0; }

.product-inner__description p {
  color: #9a9a9a;
  font-size: 12px; }

.catalog__body-container__display__item a:hover {
  text-decoration: none; }

.product-inner {
  margin-top: 2rem; }
  .product-inner .status-wrap {
    display: flex; }
  .product-inner .product-inner__title {
    font-size: 18px;
    color: #666666;
    text-transform: uppercase; }
  .product-inner .catalog__body-container__display__item__status__label--SALE {
    text-transform: uppercase;
    padding: 4px 15px;
    display: inline-block;
    background: #d9ae9d;
    color: #ffffff;
    cursor: default;
    font-size: 13px; }
  .product-inner .catalog__body-container__display__item__status__label--NEW {
    text-transform: uppercase;
    padding: 4px 15px;
    display: inline-block;
    background: #e8e8e8;
    color: #696969;
    cursor: default;
    font-size: 13px; }
  .product-inner .product-inner__price {
    margin-bottom: 30px; }
    .product-inner .product-inner__price span {
      color: #9a9a9a;
      font-size: 18px; }
  .product-inner .product-inner__btn {
    text-align: center; }
    .product-inner .product-inner__btn a {
      color: #9a9a9a;
      text-transform: uppercase;
      color: #ffffff;
      padding: 1% 12.5%;
      display: inline-block; }
      .product-inner .product-inner__btn a:first-child {
        background: #d9ae9d;
        margin-right: 11px; }
      .product-inner .product-inner__btn a:last-child {
        background: #f5f5f5;
        margin-left: 11px;
        color: #908f8f; }
      .product-inner .product-inner__btn a:hover {
        text-decoration: none; }

.product-sliders {
  margin-top: 5%; }
  .product-sliders .nav-item {
    width: 50%;
    text-align: center; }
    .product-sliders .nav-item .nav-link {
      border-radius: unset;
      background-color: #f5f5f5;
      color: #8f8f8f;
      border: 2px solid #f5f5f5;
      text-transform: uppercase; }
    .product-sliders .nav-item .active {
      background-color: transparent !important;
      border: 2px solid #f5f5f5; }

.catalog__body-container__display__item .catalog__body-container__display__item__frame {
  margin-top: 2rem;
  min-height: 260px;
  position: relative; }
  .catalog__body-container__display__item .catalog__body-container__display__item__frame .catalog__body-container__display__item__frame__1 {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background: url(../images/catalog__item-1.png);
    background-size: cover;
    transition: all .3s; }
  .catalog__body-container__display__item .catalog__body-container__display__item__frame .catalog__body-container__display__item__frame__2 {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    background: url(../images/catalog__item-2.png);
    background-size: cover;
    transition: all .3s; }
  .catalog__body-container__display__item .catalog__body-container__display__item__frame svg {
    position: absolute;
    right: 4%;
    bottom: 3%;
    z-index: 9;
    transition: all .3s;
    cursor: pointer; }
    .catalog__body-container__display__item .catalog__body-container__display__item__frame svg path {
      fill: rgba(255, 255, 255, 0.6);
      stroke: #ffffff; }
    .catalog__body-container__display__item .catalog__body-container__display__item__frame svg:hover {
      transform: scale(1.5); }
  .catalog__body-container__display__item .catalog__body-container__display__item__frame .inFavorites {
    transform: scale(1.5); }
  .catalog__body-container__display__item .catalog__body-container__display__item__frame a {
    width: 100%;
    height: 90%;
    position: absolute;
    display: inline-block;
    z-index: 100; }

.catalog__body-container__display__item .catalog__body-container__display__item__color {
  display: flex;
  justify-content: center; }
  .catalog__body-container__display__item .catalog__body-container__display__item__color .catalog__body-container__display__item__color--wrapper {
    height: 34px; }
    .catalog__body-container__display__item .catalog__body-container__display__item__color .catalog__body-container__display__item__color--wrapper span {
      min-width: 12px;
      min-height: 12px;
      border: 1px solid transparent;
      background: #fff;
      display: inline-block;
      border-radius: 50%;
      position: relative;
      margin: 0px 2px;
      transition: all .3s;
      cursor: pointer; }
      .catalog__body-container__display__item .catalog__body-container__display__item__color .catalog__body-container__display__item__color--wrapper span a {
        background: #adc2a3;
        display: inline-block;
        width: 8px;
        height: 8px;
        position: absolute;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%; }
      .catalog__body-container__display__item .catalog__body-container__display__item__color .catalog__body-container__display__item__color--wrapper span:hover {
        border: 1px solid #adc2a3; }
        .catalog__body-container__display__item .catalog__body-container__display__item__color .catalog__body-container__display__item__color--wrapper span:hover a {
          border: 1px solid #ffffff;
          width: 9px;
          height: 9px; }

.catalog__body-container__display__item .catalog__body-container__display__item__status .catalog__body-container__display__item__status__label--NEW {
  text-transform: uppercase;
  padding: 4px 15px;
  display: inline-block;
  background: #e8e8e8;
  color: #696969;
  cursor: default;
  font-size: 13px; }

.catalog__body-container__display__item .catalog__body-container__display__item__status .catalog__body-container__display__item__status__label--SALE {
  text-transform: uppercase;
  padding: 4px 15px;
  display: inline-block;
  background: #d9ae9d;
  color: #ffffff;
  cursor: default;
  font-size: 13px; }

.catalog__body-container__display__item .catalog__body-container__display__item__title h3 {
  color: #787878;
  font-size: 13px;
  text-transform: uppercase;
  padding: 17px 0; }

.catalog__body-container__display__item .catalog__body-container__display__item__price {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  display: flex;
  justify-content: start;
  max-height: 16px;
  position: relative; }
  .catalog__body-container__display__item .catalog__body-container__display__item__price span:last-child {
    font-size: 11px;
    margin-left: 2rem;
    position: relative;
    padding-top: 3px; }
    .catalog__body-container__display__item .catalog__body-container__display__item__price span:last-child::before {
      content: "";
      display: inline-block;
      width: 100%;
      height: 1px;
      background: #7c2d1c;
      opacity: .6;
      position: absolute;
      top: 70%; }

.basket .basket-wrapper {
  margin: 1rem 0; }

.basket .basket__title {
  border-bottom: 1px solid #878787;
  color: #2c2728;
  margin: 2.5rem 0;
  padding-bottom: .5rem;
  text-transform: uppercase; }

.basket .product-basket {
  display: flex; }
  .basket .product-basket .product-basket__column p {
    text-align: left;
    max-width: 160px; }

.basket .product-basket__column {
  display: flex;
  flex-direction: column;
  padding: 0 .5rem;
  text-transform: uppercase;
  color: #545454;
  font-size: 12px;
  height: 88px;
  align-items: center; }
  .basket .product-basket__column svg {
    width: 50%;
    max-height: 88px;
    margin: auto;
    cursor: pointer; }
  .basket .product-basket__column p {
    width: 100%;
    text-align: center; }
  .basket .product-basket__column .number-input input {
    border: none;
    background: transparent;
    width: 45px;
    text-align: center;
    align-items: center; }
  .basket .product-basket__column .number-input span {
    cursor: pointer; }

.basket .color-preference {
  text-align: left; }
  .basket .color-preference span {
    min-width: 19px;
    min-height: 19px;
    border: 1px solid transparent;
    background: #fff;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    margin: 0px 2px;
    transition: all .3s;
    cursor: pointer;
    border: 1px solid #adc2a3; }
    .basket .color-preference span a {
      background: #adc2a3;
      display: inline-block;
      width: 13px;
      height: 13px;
      position: absolute;
      border-radius: 50%;
      transform: translate(-53%, -54%);
      top: 50%;
      left: 50%; }

.basket #clearBasketEvent {
  color: #d9ae9d;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer; }

.basket .basket__submit-title {
  color: #2c2728;
  margin: 2.5rem 0;
  padding-bottom: .5rem;
  text-transform: uppercase; }

.basket .submit-order {
  margin-bottom: 2rem; }
  .basket .submit-order .submit-order__field {
    display: flex;
    justify-content: space-between; }
    .basket .submit-order .submit-order__field p {
      font-size: 13px;
      color: #989898; }
    .basket .submit-order .submit-order__field input {
      background: transparent;
      border: none;
      box-shadow: none;
      border-bottom: 1px solid #b8b8b8;
      color: #989898; }
      .basket .submit-order .submit-order__field input:focus {
        outline: none; }
    .basket .submit-order .submit-order__field select {
      background: transparent;
      border: none;
      width: 172px;
      color: #989898;
      border-bottom: 1px solid #b8b8b8; }
      .basket .submit-order .submit-order__field select:focus {
        outline: none; }
    .basket .submit-order .submit-order__field textarea {
      background: transparent;
      border: none;
      border-bottom: 1px solid #b8b8b8;
      resize: none;
      color: #989898; }
      .basket .submit-order .submit-order__field textarea:focus {
        outline: none; }

@media (min-width: 601px) and (max-width: 980px) {
  .basket .color-preference span a {
    transform: translate(-6px, -54%); }
  .basket .submit-order .submit-order__field textarea {
    width: 65%; } }

@media (max-width: 600px) {
  .color-preference span a {
    transform: translate(-6px, -54%) !important; }
  .basket .submit-order .submit-order__field__textarea {
    width: 100%;
    margin-top: 3rem;
    padding-bottom: 3rem;
    flex-direction: column; } }
