.bread-crumbs{
    .bread-crumbs--wrapper{
        display: flex;
        justify-content: flex-start;
        .bread-crumbs__crumb{
            display: inline-block;
            position: relative;
            padding: 0 8px ;
            transition: all .3s;
            font-size: 10px;
            cursor: pointer;
            &:first-child{
                padding-left: 0;
            }
            &::after{
                content: "";
                display: inline-block;
                position: absolute;
                width: 1px;
                height: 10px;
                background: #878787;
                right: 0;
                top: 1.5px;
            }
    
            &:hover {
               color: $base-color !important;
            }
        }
    }
   
}