.catalog {
  .catalog__body-container--flex {
    .catalog__body-container__filter {
      .catalog__body-container__filter__row {
        transition: all .3s;

        .dropdown-menu-price {
          background: #d9ae9d;
          color: #ffffff;
          padding-left: 1rem;
          border-radius: unset;

          input {
            width: 70%;
            background: transparent;
            border: none;
            border-bottom: 1px solid #ffffff;
            color: #ffffff;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            font-size: $font__filter__input;
            background: url(../images/KZT.png);
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 95%;

            &:focus {
              outline: none;
            }


          }

          p {
            text-align: center;
            font-size: $font__filter__input;
            margin-bottom: .5rem;
            margin-top: .5rem;
            width: 100%;
          }
        }

        .dropdown-menu-color {
          max-width: 100px;
          background: #fff;
          color: #ffffff;
          border-radius: unset;
          border: 1px solid rgba(0, 0, 0, .09);

          input {
            width: 70%;
            background: transparent;
            border: none;
            border-bottom: 1px solid #ffffff;
            color: #ffffff;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            font-size: $font__filter__input;
            background: url(../images/KZT.png);
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 95%;

            &:focus {
              outline: none;
            }


          }

          p {
            text-align: center;
            font-size: $font__filter__input;
            margin-bottom: .5rem;
            margin-top: .5rem;
            width: 100%;
          }
        }

        .color-preference {
          text-align: center;

          span {
            min-width: 19px;
            min-height: 19px;
            border: 1px solid transparent;
            background: #fff;
            display: inline-block;
            border-radius: 50%;
            position: relative;
            margin: 0px 2px;
            transition: all .3s;
            cursor: pointer;

            &:hover {
              border: 1px solid #adc2a3;
            }

            a {
              background: #adc2a3;
              display: inline-block;
              width: 13px;
              height: 13px;
              position: absolute;
              border-radius: 50%;
              transform: translate(-45%, -47%);
              top: 50%;
              left: 50%;
            }
          }

        }

        .first-column {
          a {
            transform: translate(-55%, -47%) !important;
          }
        }

        

        .catalog__body-container__filter__row__select {
          width: 100px;
          height: 28px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background: none;
          background-image: url(../images/Arrow-down.svg);
          background-repeat: no-repeat;
          background-position-x: 95%;
          background-position-y: 9px;
          border: none;
          font-size: $font__catalog__body__filter;
          position: relative;
          transition: all .3s;
          color: $catalog__body__filter-color;
          user-select: none;
          /* supported by Chrome and Opera */
          -webkit-user-select: none;
          /* Safari */
          -khtml-user-select: none;
          /* Konqueror HTML */
          -moz-user-select: none;
          /* Firefox */
          -ms-user-select: none;
          /* Internet Explorer/Edge */
          cursor: pointer;

          &:focus {
            outline: none;
            background-image: url(../images/cross-select.svg);
            color: #d9ae9d;
            box-shadow: none;
          }

          // &::after {
          //   content: "";
          //   height: 6px;
          //   width: 1px;
          //   display: inline-block;
          //   position: absolute;
          //   right: 18%;
          //   top: 40%;
          //   background: $catalog__body__filter-color;
          //   transform: rotate(-46deg);
          //   transition: all .3s;
          // }

          // &::before {
          //   content: "";
          //   height: 6px;
          //   width: 1px;
          //   display: inline-block;
          //   position: absolute;
          //   right: 14%;
          //   top: 40%;
          //   background: $catalog__body__filter-color;
          //   transform: rotate(46deg);
          //   transition: all .3s;
          // }

          &:hover {
            color: $base-color;

            &::after {
              background: $base-color;
            }

            &::before {
              background: $base-color;
            }
          }

          option {
            background: $base-color;
            color: #ffffff;
            border: none;

            &:focus {
              outline: none;
              background-position-y: 13px;
            }

            &:hover {
              background: $base-color;
            }
          }

          &:hover{
            background-position-y: 13px;
          }
          &:focus{
            background-position-y: 13px;  
          }
        }
        .catalog__body-container__filter__row__select2 {
          width: 100px;
          height: 28px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background: none;
          background-image: url(../images/Arrow-down.svg);
          background-repeat: no-repeat;
          background-position-x: 95%;
          background-position-y: 9px;
          border: none;
          font-size: $font__catalog__body__filter;
          position: relative;
          transition: all .3s;
          color: $catalog__body__filter-color;
          user-select: none;
          /* supported by Chrome and Opera */
          -webkit-user-select: none;
          /* Safari */
          -khtml-user-select: none;
          /* Konqueror HTML */
          -moz-user-select: none;
          /* Firefox */
          -ms-user-select: none;
          /* Internet Explorer/Edge */
          cursor: pointer;

          &:focus {
            outline: none;
            background-image: url(../images/cross-select.svg);
            color: #d9ae9d;
            box-shadow: none;
          }

          // &::after {
          //   content: "";
          //   height: 6px;
          //   width: 1px;
          //   display: inline-block;
          //   position: absolute;
          //   right: 18%;
          //   top: 40%;
          //   background: $catalog__body__filter-color;
          //   transform: rotate(-46deg);
          //   transition: all .3s;
          // }

          // &::before {
          //   content: "";
          //   height: 6px;
          //   width: 1px;
          //   display: inline-block;
          //   position: absolute;
          //   right: 14%;
          //   top: 40%;
          //   background: $catalog__body__filter-color;
          //   transform: rotate(46deg);
          //   transition: all .3s;
          // }

          &:hover {
            color: $base-color;

            &::after {
              background: $base-color;
            }

            &::before {
              background: $base-color;
            }
          }

          option {
            background: $base-color;
            color: #ffffff;
            border: none;

            &:focus {
              outline: none;
              background-position-y: 13px;
            }

            &:hover {
              background: $base-color;
            }
          }

          &:hover{
            background-position-y: 13px;
          }
          &:focus{
            background-position-y: 13px;  
          }
        }

        .select2 {
          max-height: 28px;
        }

        

        .select-active {
          transition: all .3s;

          // &::after {
          //   content: "";
          //   height: 8px;
          //   width: 1px;
          //   display: inline-block;
          //   position: absolute;
          //   right: 15.5%;
          //   top: 45%;
          //   background: $catalog__body__filter-color;
          //   transform: rotate(-46deg);
          //   transition: all .6s;
          // }

          // &::before {
          //   content: "";
          //   height: 8px;
          //   width: 1px;
          //   display: inline-block;
          //   position: absolute;
          //   right: 15.5%;
          //   top: 45%;
          //   background: $catalog__body__filter-color;
          //   transform: rotate(46deg);
          //   transition: all .3s;
          // }


        }
      }

      .catalog__body-container__filter__order {
        position: relative;
        text-align: right;

        img {
          margin-left: 1rem;
          transition: all .3s
        }

        .catalog__body-container__filter__order__select {
          display: inline-block;
          width: 125px;
          height: 20px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background: none;
          border: none;
          font-size: $font__catalog__body__filter;
          position: relative;
          transition: all .3s;
          color: $catalog__body__filter-color;
          user-select: none;
          /* supported by Chrome and Opera */
          -webkit-user-select: none;
          /* Safari */
          -khtml-user-select: none;
          /* Konqueror HTML */
          -moz-user-select: none;
          /* Firefox */
          -ms-user-select: none;
          /* Internet Explorer/Edge */
          cursor: pointer;

          &::after {
            content: "";
            height: 6px;
            width: 1px;
            display: inline-block;
            position: absolute;
            right: 8%;
            top: 43%;
            background: $catalog__body__filter-color;
            transform: rotate(-46deg);
            transition: all .3s;
          }

          &::before {
            content: "";
            height: 6px;
            width: 1px;
            display: inline-block;
            position: absolute;
            right: 5%;
            top: 43%;
            background: $catalog__body__filter-color;
            transform: rotate(46deg);
            transition: all .3s;
          }

          &:hover {
            color: $base-color;

            &::after {
              background: $base-color;
            }

            &::before {
              background: $base-color;
            }
          }

        }

        .select__order-active {
          transition: all .3s;

          &::after {
            content: "";
            height: 8px;
            width: 1px;
            display: inline-block;
            position: absolute;
            right: 15.5%;
            top: 43%;
            background: $catalog__body__filter-color;
            transform: rotate(-46deg);
            transition: all .6s;
          }

          &::before {
            content: "";
            height: 8px;
            width: 1px;
            display: inline-block;
            position: absolute;
            right: 15.5%;
            top: 43%;
            background: $catalog__body__filter-color;
            transform: rotate(46deg);
            transition: all .3s;
          }
        }
      }
    }
  }
}

////SELECT 2 style
.select2-results__option__custom {
  background: $base-color !important;
}

.select2-container--default {
  .select2-results__option--highlighted[aria-selected] {
    background-color: $base-color !important;
  }
}

.select2-results__options{
  background:$base-color ;
  color: #ffffff;
  border-radius: unset;

  &:focus{
    outline: none;
  }
}

.select2-selection {
  background: $base-color;
  border: none !important;
  width: 100px;
          height: 28px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background: none;
          background-image: url(../images/Arrow-down.svg);
          background-repeat: no-repeat;
          background-position-x: 95%;
          background-position-y: 9px;
          border: none;
          font-size: $font__catalog__body__filter;
          position: relative;
          transition: all .3s;
          color: $catalog__body__filter-color;
          user-select: none;
          /* supported by Chrome and Opera */
          -webkit-user-select: none;
          /* Safari */
          -khtml-user-select: none;
          /* Konqueror HTML */
          -moz-user-select: none;
          /* Firefox */
          -ms-user-select: none;
          /* Internet Explorer/Edge */
          cursor: pointer;

          &:focus {
            outline: none;
            background-image: url(../images/cross-select.svg);
            color: #d9ae9d;
            box-shadow: none;
          }
}
.select2-selection__arrow{
  display: none;
}