.sf-menu {

    .nav-root {
            text-transform: uppercase;
            color: #878787;
            &::after {
                content: "";
                display: inline-block;
                position: absolute;
                transform: translate(-50%, -50%);
                top: 26px !important;
                right: -9px !important;
                width: 16px !important;
                height: 16px !important;
                background: url(../images/Arrow-down.svg);
                background-position: center;
                background-repeat: no-repeat;
                margin-top: 0 !important;
            }
        
    }
    li{

        background: transparent !important;
        a {
            color: #ffffff ;
        }
        .sf-with-ul {
            padding-right: 1rem !important;
        }

    }

    .nav--bg-pink{
        background: #d9ae9d !important;
        box-shadow: none;
        a {
            border-left: none;
            border-top: none;
            border-top: none;
            background: #d9ae9d !important;
        }
        
    }

   
}