footer {
    .footer-wrap {
        padding-top: 2.3rem;
        border-top: 1px solid $border-top__footer;
    }

    .column {
        input {
            border: none;
            border-bottom: 1px solid $second-color;

            &:focus {
                outline: none;

            }

            &::-webkit-input-placeholder {
                text-align: center;
            }

            &::-webkit-input-placeholder {
                text-align: center;
            }

            &::-webkit-input-placeholder {
                text-align: center;
            }

            &::-webkit-input-placeholder {
                text-align: center;
            }
        }

        display: flex;
        flex-direction: column;

        h3 {
            color: $second-color;
            font-size: 13px;
            text-transform: uppercase;
            text-align: left;
            margin-bottom: 1.5rem;
        }

        a {
            color: $second-color;
            display: inline-block;
            position: relative;
            text-align: left;
            margin-bottom: .35rem;

            &:hover {
                text-decoration: none;
                color: $base-color;
            }
        }

        .btn__subscribe {
            color: $base-color;
            border: 1px solid $base-color;
            text-align: center;
            box-shadow: none;
            padding: .7rem 3.2rem;
            transition: all .3s;

            &:hover {
                background: $base-color;
                color: #ffffff;
            }
        }
    }

    .footer__feedback {
        h3 {
            margin-bottom: 1.6rem;
            text-align: center;
        }

        a {
            text-align: center;
        }

        .footer__input {
            margin-bottom: 1rem;
        }

        .footer__link-terms {
            color: $base-color;

            &:hover {
                color: $base-color;
                text-decoration: underline;
            }
        }

        p {
            font-size: 10px;
            text-align: center;
            margin-bottom: 0;
        }
    }

    .footer__socials {
        justify-content: center;

        a {
            margin: 0 8.5px;
            position: relative;
            max-height: 14px;

            &:first-child {
                margin-left: 0%;
            }

            &:after {
                content: '';
                display: inline-block;
                position: absolute;
                bottom: 5px;
                width: 21px;
                height: 15px;
                left: 30%;
                bottom: -17px;
                transform: rotateX(180deg);
            }

            &:nth-child(1) {
                &:after {
                    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), url(../images/facebook.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    left: -7px;
                    top: 26px;
                }
            }

            &:nth-child(2) {
                &:after {
                    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), url(../images/instagram.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    left: -3px;
                    top: 26px;
                }
            }

            &:nth-child(3) {
                &:after {
                    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), url(../images/youtube.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    left: 0px;
                    top: 26px;
                }
            }

            &:nth-child(4) {
                &:after {
                    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), url(../images/whatsup.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    left: -4px;
                    top: 26px;
                }
            }

            &:nth-child(5) {
                &:after {
                    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), url(../images/pinterest.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    left: -5px;
                    top: 26px;
                }
            }

            svg {


                &:hover {
                    path {
                        fill: $base-color;
                    }


                }
            }

            &:hover {
                &:nth-child(5) {
                    svg{
                        path {
                            fill: $base-color;
                        }
                    }
                    
                    &:after {
                        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), url(../images/pinterestBaseColor.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        left: -5px;
                        top: 26px;
                    }
                }

                &:nth-child(4) {
                    svg{
                        path {
                            fill: $base-color;
                        }
                    }
                    &:after {
                        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), url(../images/whatsupBaseColor.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        left: -4px;
                        top: 26px;
                    }
                }

                &:nth-child(3) {
                    svg{
                        path {
                            fill: $base-color;
                        }
                    }
                    &:after {
                        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), url(../images/youtubeBaseColor.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        left: 0px;
                        top: 26px;
                    }
                }

                &:nth-child(2) {
                    svg{
                        path {
                            fill: $base-color;
                        }
                    }
                    &:after {
                        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), url(../images/instagramBaseColor.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        left: -3px;
                        top: 26px;
                    }
                }

                &:nth-child(1) {
                    svg{
                        path {
                            fill: $base-color;
                        }
                    }
                    &:after {
                        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), url(../images/facebookBaseColor.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        left: -7px;
                        top: 26px;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    footer {
        .column {
            .btn__subscribe {
                padding: .7rem 0.2rem;
                font-size: .7em;

            }
        }
    }
}

@media (max-width: 600px) {
    footer {
        .column {
            h3 {
                text-align: center;
            }

            a {
                text-align: center;
            }

            p {
                text-align: center;
            }
        }
    }
}