header{
    #ikkiLogo{
        cursor: pointer;
    }
}

.user-cabinet__intrface {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 35px;
    right: 10%;
    transition:all .3s linear;
    transition: all .3s;
        z-index: 1;
    &.push {
        right: 50%;
    }
    .user-cabinet__intrface_item {
        color: $second-color;
        display: flex;
        height: 33px;
        justify-content: flex-end;
        width: 120px;
        background: transparent;
        &:first-child {
            a {
                z-index: 2;
            }

            &:hover {
                color: $second-color;
                background: #fff;

                svg {
                    fill: $second-color
                }
            }
        }
        &:first-child {
            p {
                color: $second-color;
                display: inline-block;
                position: absolute;
                padding-right: 1.5rem;
            }
        }
        p {
            display: none;
            position: relative;
            margin-bottom: 0;
            width: 160px;
            text-align: center;
            padding-top: 3px;
            color: #fff;
        }
        img {
            height: auto;
            width: auto;
        }

        svg {
            margin-top: 6px;
            margin-right: 6px;
            fill: $second-color
        }

        &:hover {
            background: $base-color;
            color: #fff;
            z-index: 99;
            
            p{
                display: block;
            }

            svg {
                fill: #fff
            }
        }
    }
}